.MainContainer {
}
.MainGrid {
}
.EventTicketSection {
}
.OrderSummary {
}
.OrderSummaryAlt {
}

.BlankCanvas {
}
.Spinner {
}

.MainContainer {
  background-color: #2f5596;
  height: 100vh;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}
.MainGrid {
  background-color: #fff;
  margin: auto;
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
}
.EventTicketSection {
  background-color: #fff;
  height: calc(100vh - 140px);
  padding-top: 30px;
  padding-left: 80px;
  padding-right: 80px;
  text-align: left;
  overflow-y: auto;
}
.OrderSummary {
  background-color: #e5e5e5;
  font-size: 0.875rem;
  height: calc(100vh - 160px);
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
  overflow-y: auto;
}
.OrderSummaryAlt {
  background-color: #e5e5e5;
  font-size: 0.875rem;
  height: calc(100vh - 80px);
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
  overflow-y: auto;
}
.BlankCanvas {
  background-color: #fff;
  margin: auto;
  vertical-align: center;
  height: 100vh;
  padding-top: 30px;
  padding-left: 80px;
  padding-right: 80px;
  text-align: left;
  overflow-y: auto;
}
.Spinner {
  background-color: #fff;
  margin: auto;
  vertical-align: center;
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
}

@media (max-width: 480px) {
  .MainGrid {
    grid-template-columns: auto;
  }
  .EventTicketSection {
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 10px;
  }
  .BlankCanvas {
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 10px;
  }
}

@media (min-width: 480px) {
  .MainGrid {
    grid-template-columns: auto;
  }
  .EventTicketSection {
    padding-top: 30px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .BlankCanvas {
    padding-top: 30px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (min-width: 660px) {
  .MainContainer {
    padding-left: 25px;
    padding-right: 25px;
  }
  .MainGrid {
    grid-template-columns: auto;
  }
  .EventTicketSection {
    padding-top: 30px;
    padding-left: 80px;
    padding-right: 80px;
  }
  .BlankCanvas {
    padding-top: 30px;
    padding-left: 80px;
    padding-right: 80px;
  }

  @media (min-height: 720px) {
    .MainContainer {
      padding-top: calc((100vh - 720px) / 2);
      padding-bottom: calc((100vh - 720px) / 2);
    }
    .MainGrid {
      height: 720px;
    }
    .EventTicketSection {
      height: 580px;
    }
    .OrderSummary {
      height: 560px;
    }
    .OrderSummaryAlt {
      height: 640px;
    }
    .BlankCanvas {
      height: 720px;
    }
    .Spinner {
      height: 720px;
    }
  }
}

@media (min-width: 790px) {
  .MainContainer {
    padding-left: 25px;
    padding-right: 25px;
  }
  .MainGrid {
    grid-template-columns: auto 320px;
  }
  .EventTicketSection {
    padding-left: 25px;
    padding-right: 25px;
  }
  .EventFooter {
    padding-left: 25px;
    padding-right: 25px;
  }
  .BlankCanvas {
    padding-left: 25px;
    padding-right: 25px;
  }
  .SuccessTextSmall {
    font-size: 9px;
  }
}

@media (min-width: 960px) {
  .MainContainer {
    padding-left: 25px;
    padding-right: 25px;
  }
  .MainGrid {
    grid-template-columns: auto 360px;
  }
  .EventTicketSection {
    padding-top: 30px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .OrderSummary {
    height: calc(100vh - 180px);
  }
  .OrderSummaryAlt {
    height: calc(100vh - 80px);
  }
  .BlankCanvas {
    padding-top: 30px;
    padding-left: 25px;
    padding-right: 25px;
  }

  @media (min-height: 720px) {
    .OrderSummary {
      height: 540px;
    }
    .OrderSummaryAlt {
      height: 640px;
    }
  }
}

@media (min-width: 1140px) {
  .MainContainer {
    padding-left: 25px;
    padding-right: 25px;
  }
  .MainGrid {
    width: 1080px;
    grid-template-columns: 720px 360px;
  }
  .EventTicketSection {
    padding-top: 30px;
    padding-left: 80px;
    padding-right: 80px;
  }
  .BlankCanvas {
    width: 1080px;
    padding-top: 30px;
    padding-left: 80px;
    padding-right: 80px;
  }
  .Spinner {
    width: 1080px;
  }
}
