.MainContainer {
  font-family: Helvetica, sans-serif;
  padding-top: 60px;
}

.TopContainerLarge {
  color: #fff;
  background-color: #000;
  font-family: Helvetica, sans-serif;
  /*height: calc(100vw * (440/650));*/
  height: calc(100vw / 2 - 8px);
}

.BlankCanvas {
  background-color: white;
  margin: auto;
  width: auto;
  height: auto;
  z-index: 100;
  padding-left: 0px;
  padding-left: 0px;
  text-align: left;
  overflow-y: auto;
}

@media (min-width: 500px) {
  .BlankCanvas {
    padding-left: calc(50% - 170px);
    padding-left: calc(50% - 170px);
  }
}

@media (min-width: 650px) {
  .TopContainerLarge {
    color: #fff;
    background-color: #000;
    font-family: Helvetica, sans-serif;
    height: 440px;
  }
}

@media (min-width: 900px) {
  .TopContainerLarge {
    color: #fff;
    background-color: #000;
    font-family: Helvetica, sans-serif;
    height: calc(100vw / 2 - 8px);
  }
}

@media (min-width: 1200px) {
  .TopContainerLarge {
    color: #fff;
    background-color: #000;
    font-family: Helvetica, sans-serif;
    height: 600px;
    padding-left: calc(50vw - 605px);
  }
}

.TextContainer {
  color: #101c32;
  padding-top: 20px;
  padding-bottom: 20px;
}

.ImageBox {
  box-sizing: border-box;
  width: 600px;
}

.OSDImageContainer {
  vertical-align: middle;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.ImageContainer {
  vertical-align: middle;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.SectionContainer {
  width: "100%";
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.MarketingText {
  font-family: Lato;
  font-weight: 600;
  text-align: center;
}

.TagLineText {
  z-index: 200;
  font-family: Lato;
  font-weight: 500;
  text-align: center;
}

.DescriptionText {
  font-family: Lato;
  font-weight: 400;
  text-align: center;
  padding-bottom: 10px;
}

.Grid {
  display: grid;
  grid-template-columns: 250px 250px 250px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.GridTight {
  display: grid;
  grid-template-columns: 250px 250px 250px;
  column-gap: "0px";
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.ImageGrid {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 600;
  text-align: center;
}

.SignUpForm {
  background-color: white;
  margin: auto;
  width: 100%;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  font-size: 16px;
  text-align: left;
}

@media (min-width: 450px) {
  .SignUpForm {
    background-color: white;
    margin: auto;
    width: 400px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    font-size: 16px;
    text-align: left;
  }
}

.InputBox {
  border: 1px solid #8dadd4;
  border-radius: 0px;
  background-color: #eff3fa;
  width: calc(100vw - 40px);
  height: 40px;
}

@media (min-width: 450px) {
  .InputBox {
    width: 340px;
  }
}

.SubmitButton {
  border: 1px solid black;
  background-color: #2f5596;
  border-radius: 0px;
  color: #fff;
  font-size: 14px;
  width: calc(100vw - 40px);
  height: 40px;
  font-weight: 500;
}

@media (min-width: 450px) {
  .SubmitButton {
    width: 300px;
  }
}

.VideoSection {
  text-align: center;
  padding-top: 10px;
}

@media (max-width: 383px) {
  .VideoSection {
    text-align: center;
    width: 310;
    height: 174px;
  }
}

@media (max-width: 380px) {
  .VideoSection {
    text-align: center;
    width: 330;
    height: 185px;
  }
}

@media (max-width: 770px) {
  .VideoSection {
    text-align: center;
    width: 420;
    height: 236px;
  }
}

@media (min-width: 770px) {
  .VideoSection {
    text-align: center;
    width: 640;
    height: 360px;
  }
}

.Header {
  display: grid;
  grid-template-columns: 40px 40px 40px 40px;
  font-weight: 500;
  font-size: 18px;
  padding-left: calc(50vw - 80px);
}

.faFacebook {
  color: #fff;
  width: "50px";
  padding-left: "10px";
}

.faFacebook:hover {
  color: #8dadd4;
  border-color: transparent;
}

.faYoutube {
  color: #fff;
  width: "50px";
}

.faYoutube:hover {
  color: #8dadd4;
  border-color: transparent;
}

.faTwitter {
  color: #fff;
  width: "50px";
}

.faTwitter:hover {
  color: #8dadd4;
  border-color: transparent;
}

.faInstagram {
  color: #fff;
  width: "50px";
}

.faInstagram:hover {
  color: #8dadd4;
  border-color: transparent;
}
