.MainContainer {
  position: relative;
  background: #2f5596;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MainContainer_image {
  background-image: url("../../assets/WhiteLettering_BlueBackground/WhiteLettering_BlueBackground_1024.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 100px;
  height: 100%;
  width: 100%;
}

.MainContainer::before {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  content: "";
}

.MainGrid {
  color: #fff;
  text-align: center;
  position: relative;
  height: 100%;
}
.TextMain {
  vertical-align: middle;
  font-size: 30px;
  font-style: bold;
}
.TextTagLine {
  vertical-align: middle;
  font-size: 22px;
  font-style: italic;
}


@media (min-width: 450px) {
  .TextMain {
    font-size: 44px;
  }
  .TextTagLine {
    font-size: 36px;
  }
}


@media (min-width: 550px) {
  .TextMain {
    font-size: 38px;
  }
  .TextTagLine {
    font-size: 30px;
  }
}


@media (min-width: 840px) {
.MainContainer_image {
  padding-top: 150px;
}

  .TextMain {
    font-size: 44px;
  }
  .TextTagLine {
    font-size: 36px;
  }
}


@media (min-width: 980px) {
  .TextMain {
    font-size: 52px;  
  }
  .TextTagLine {
    font-size: 44px;
  }
}
