.MainContainer {
  font-family: "Roboto", sans-serif;
  padding-top: 60px;
  padding-bottom: 20px
}

.TextContainer {
  color: #fff;
  background-color: #101C32;
  padding-top: 40px;
  padding-bottom: 40px
}

.TextContainer2 {
  color: #101C32;
  padding-top: 40px;
  padding-bottom: 40px
}

.SectionContainer {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.MarketingText {
  font-family: Lato;
  font-size: 52px;
  line-height: 94px;
  font-weight: 600;
  text-align: center;
}

.DescriptionText {
  font-family: Lato;
  font-size: 26px;
  line-height: 56px;
  font-weight: 600;
  text-align: center;
}
.ImageContainer {
  color: blue;
  vertical-align: middle;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px
}

.SignUpForm {
  background-color: white;
  margin: auto;
  width: 500px;
  padding-top: 20px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 20px;
  text-align: left;
}

.ImageBox {
  max-height: auto;
  max-width: calc(100% - 700px);
}

.UpperGrid {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  column-gap: 100px;
  padding-left: calc(50% - 400px);
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

.MiddleGrid {
  display: grid;
  grid-template-columns: 120px 120px 120px;
  column-gap: 180px;
  padding-left: calc(50% - 360px);
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

.LowerGrid {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  column-gap: 100px;
  padding-left: calc(50% - 400px);
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}