.MainContainer {
  font-family: "Roboto", sans-serif;
  padding-top: 60px;
  padding-left: 20px;
  padding-bottom: 0px
}

.TopContainer {
  color: #fff;
  background-color: #101C32;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px
}

.MarketingText {
  font-family: Lato;
  font-size: 52px;
  font-weight: 600;
  padding-top: 40px;
  padding-bottom: 40px        
}

.ImageContainer {
  color: blue;
  vertical-align: middle;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px
}

.ImageBox {
  max-height: auto;
  max-width: 600px;
}

.MiddleContainer {
  color: #fff;
  background-color: #101C32;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.DescriptionText {
  font-family: Lato;
  font-size: 26px;
  font-weight: 600;
  padding-top: 30px;
  padding-bottom: 30px        
}

.LowerContainer {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.UpperGrid {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  column-gap: 100px;
  padding-left: calc(50% - 400px);
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

.MiddleGrid {
  display: grid;
  grid-template-columns: 120px 120px 120px;
  column-gap: 180px;
  padding-left: calc(50% - 360px);
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

.LowerGrid {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  column-gap: 100px;
  padding-left: calc(50% - 400px);
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}








.SignUpForm {
  background-color: white;
  margin: auto;
  width: 500px;
  padding-top: 0px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 0px;
  text-align: left;
}

.Appointment {
  background-color: white;
  margin: auto;
  padding-top: 40px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 40px;
  text-align: center;
}












.Header {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 5px;
  text-align: center; 
}