.Header {
  background-color: #fff;
  height: 90px;
  width: 100%;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
}

.Header ul {
  list-style: none;
  margin: 0;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
  text-align: right;
}

.Header ul li:first-child {
  float: left;
  vertical-align: text-bottom;
}

.Header li {
  display: inline-block;
  margin: 20px;
  text-align: center;
}

.Header a {
  text-decoration: none;
  color: #0a121e;
}

.Header a:hover {
  color: #8dadd4;
}

.Logo {
  text-align: left;
}
