.BlankCanvas {
  background-color: white;
  margin: auto;
  width: auto;
  height: auto;
  z-index: 100;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 30px;
  text-align: left;
  overflow-y: auto;
  box-sizing: border-box;
}


.Header {
  font-size: 24px;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.ErrorHeader {
  font-size: 24px;
  font-weight: 600;
  padding-top: 40px;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.InputBox {
  background-color: #eff3fa;
  border: 1px solid #8dadd4;
  outline: none;
  border-radius: 0px;
  width: 100%;
  height: 40px;
  padding-left: 10px;
  font-size: 14px;
  box-sizing: border-box;
}
.InputBox:focus {
  background-color: #e0e8f5;
  border: 1px solid #4e7fbc;
  outline: none;
  width: 100%;
  height: 40px;
  padding-left: 10px;
  font-size: 14px;
  box-sizing: border-box;
}

.CloseIcon {
  height: 30px;
  padding-top: 12px;
  padding-right: 12px;
  text-align: right;
  font-size: 40px;
  color: #A3A3A3;
}

.CloseIcon:hover {
  color: black
}


.Alternates {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: "0px";
  font-size: 14px;
  padding-top: 20px;
  box-sizing: border-box;
}
.ImageGrid {
  display: grid;
  grid-template-columns: calc((100% - 10px)/2) calc((100% - 10px)/2);
  column-gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
}

.ImageBox {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 85px;
    padding-right: 88px;
}

.ButtonBlue {
  background-color: #2f5596;
  border: 1px solid #000;
  outline: none;
  border-radius: 0px;
  color: #fff;
  width: 100%;
  height: 40px;
  font-size: 18px;
  box-sizing: border-box;
}
.ButtonBlue:hover {
  background-color: #1d355d;
  border: 1px solid #000;
  outline: none;
  box-sizing: border-box;
}
.ButtonBlue:focus {
  background-color: #14233e;
  border: 1px solid #000;
  outline: none;
  box-sizing: border-box;
}

.ButtonBlueOpac {
  background-color: #2f5596;
  color: #fff;
  width: 100%;
  height: 40px;
  font-size: 18px;
  opacity: 0.5;
  border: 1px solid black;
  outline: none;
  box-sizing: border-box;
}

.ButtonGreen {
  background-color: #00a300;
  border: 1px solid black;
  outline: none;
  border-radius: 0px;
  color: #fff;
  width: 100%;
  height: 40px;
  font-size: 18px;
  box-sizing: border-box;
}
.ButtonGreen:hover {
  background-color: #007a00;
  border: 1px solid #000;
  outline: none;
  box-sizing: border-box;
}
.ButtonGreen:active {
  background-color: #005200;
  border: 1px solid #000;
  outline: none;
  box-sizing: border-box;
}

.ButtonGrey {
  background-color: #999999;
  border: 1px solid #000;
  outline: none;
  color: #fff;
  border-radius: 0px;
  width: 100%;
  height: 40px;
  font-size: 18px;
  box-sizing: border-box;
}
.ButtonGrey:hover {
  background-color: #858585;
  border: 1px solid #000;
  outline: none;
  box-sizing: border-box;
}
.ButtonGrey:focus {
  background-color: #707070;
  border: 1px solid #000;
  outline: none;
  box-sizing: border-box;
}

.BlueText {
  color: #0000ff;
  border: none;
  outline: none;
  font-size: 14px;
  text-align: left;
  font-weight: 600;
  font-size: 16px;
  padding-left: 0px;
  background-color: #fff;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
}
.BlueText:hover {
  color: #0000cc;
  border: none;
  outline: none;
  box-sizing: border-box;
}
.BlueText:focus {
  color: #0000aa;
  border: none;
  outline: none;
  box-sizing: border-box;
}
.Red {
  border: 1px solid red;
}
.Blue {
  border: 1px solid blue;
}
.RedText {
  color: red;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 10px
}

.PromoGrid {
  height: 48px;
  display: grid;
  grid-template-columns: auto 80px;
}
.EnterPromoCode {
  color: blue;
  width: 140px;
  /*padding-bottom: 10px;*/
}
.EnterPromoCode:hover {
  font-weight: 600;
  cursor: pointer;
  text-decoration: underline;
}
.AppliedPromoCode {
  background-color: #eff8e9;
  padding-top: 11px;
  padding-bottom: 5px;
  padding-left: 5px;
  margin-bottom: 10px;
  height: 40px;
  vertical-align: center;
}
.RemovePromoCode {
  color: blue;
  font-size: 14px;
  width: 80px;
}
.RemovePromoCode:hover {
  font-weight: 600;
  cursor: pointer;
  text-decoration: underline;
}
.PromoCodeInputBoxRed {
  padding-left: 10px;
  color: red;
  background-color: white;
  border: none;
  outline: none;
}
.PromoCodeInputBoxBlack {
  padding-left: 10px;
  color: black;
  background-color: white;
  border: none;
  outline: none;
}
.PromoCodeButtonBlue {
  font-size: 14px;
  text-align: center;
  color: blue;
  background-color: white;
  border: none;
  outline: none;
}
.PromoCodeButtonBlue:active {
  border: none;
  outline: none;
}
.PromoCodeButtonRed {
  font-size: 14px;
  text-align: center;
  color: red;
  background-color: white;
  border: none;
  outline: none;
}
.PromoCodeButtonRed:active {
  border: none;
  outline: none;
}

.ErrorText {
  color: red;
  font-size: 14px;
  line-height: 25px;
  padding-bottom: 20px;
}

.TimerText {
  color: red;
  font-size: 16px;
  padding-bottom: 20px;
}

.SpamText {
  color: red;
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 20px;

}

.LineGrid {
  display: grid;
  grid-template-columns:
    calc((100% - 150px)/2) 110px calc((100% - 150px)/2);
  column-gap: 20px;
  text-align: center;
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.HorizontalLine {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.GatewayImage {
  background: white;
  width: 100%;
  border: 1px solid lightgrey;
  cursor: pointer;
  outline: none;
}

@media (min-width: 460px) {
  .BlankCanvas {
    padding-left: calc(50% - 170px);
    padding-right: calc(50% - 170px);
    box-sizing: border-box;
  }
  .InputBox {
    width: 340px;
    box-sizing: border-box;
  }

  .ImageGrid {
      display: grid;
      grid-template-columns: 165px 165px;
      column-gap: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      box-sizing: border-box;
    }

  .ButtonBlue {
    width: 340px;
    box-sizing: border-box;
  }
  .ButtonBlueOpac {
    width: 340px;
    box-sizing: border-box;
  }
  .ButtonGreen {
    width: 340px;
    box-sizing: border-box;
  }
  .ButtonGrey {
    width: 340px;
    box-sizing: border-box;
  }
}



@media (min-width: 1140px) {
  .PromoGrid {
    grid-template-columns: auto 77px;
  }
}