.DashboardContainer {
  font-family: "Roboto", sans-serif;
  background-color: #2f5596;
  background-image: linear-gradient(180deg, #2f5596 0%, #000000 100%);
  height: calc(100vh - 57px);
  padding-top: 60px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  box-sizing: border-box;
}
.PromoCodeInputBoxRed {
    padding-left: 10px;
    color: red;
    background-color: white;
    border: none;
    outline: none;
}
.PromoCodeButtonRed {
  font-size: 14px;
  text-align: center;
  color: red;
  background-color: white;
  border: none;
  outline: none;
}
.PromoCodeButtonRed:hover {
  border: none;
  outline: none;
}
.PromoCodeButtonRed:focus {
  border: none;
  outline: none;
}
.PromoCodeButtonRed:active {
  border: none;
  outline: none;
}
.PromoCodeButtonBlue {
  font-size: 14px;
  text-align: center;
  color: blue;
  background-color: white;
  border: none;
  outline: none;
}
.PromoCodeButtonBlue:hover {
  border: none;
  outline: none;
}
.PromoCodeButtonBlue:focus {
  border: none;
  outline: none;
}
.PromoCodeButtonBlue:active {
  border: none;
  outline: none;
}
.PromoCodeInputBoxBlack {
  padding-left: 10px;
  color: black;
  background-color: white;
  border: none;
  outline: none;
}
.PromoGrid {
  height: 40px;
  display: grid;
  grid-template-columns: auto 80px;
}
.Blue {
    border: 1px solid blue
}
.Red {
    border: 1px solid red
}

.AppliedPromoCode {
  background-color: white;
  padding-top: 5px;
  padding-left: 5px;
  height: 30px;
}
.RemovePromoCode {
    color: blue;
    font-size: 14px;
    width: 80px;
}
.RemovePromoCode:hover {
    font-weight: 600;
    cursor: pointer;
    text-decoration: underline;
}
.EnterPromoCode {
    color: blue;
    width: 140px;
}
.EnterPromoCode:hover {
    font-weight: 600;
    cursor: pointer;
    text-decoration: underline;
}

.DashboardCanvas {
  background-color: white;
  display: grid;
  grid-template-columns: 170px auto;
  border: 1px solid #3D3D3D;
  width: 1200px;
  height: 100%;
  margin: auto;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-align: left;
  box-sizing: border-box;
}

.DisplayPanelTitle {
  position: fixed;
  top: 60px;
  width: 1030px;
  background-color: white;
  border-bottom: 1px solid grey;
  height: 50px;
  padding-left: 15px;
  padding-top: 15px;
  font-size: 26px;
  font-weight: 600;
  box-sizing: border-box;
}

.DisplayPanel {
  background-color: white;
  font-size: 15px;
  width: 1030px;
  height: calc(100vh - 167px);
  margin-top: 50px;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  scrollbar-width: thin;
  overflow-y: auto;
}

.DisplayPanelWide {
  background-color: white;
  font-size: 15px;
  width: 430px;
  height: calc(100vh - 167px);
  margin-top: 50px;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  scrollbar-width: thin;
  overflow-y: auto;
}

.NavigationTitle {
  position: fixed;
  top: 60px;
  width: 170px;
  height: 50px;
  line-height: 50px;
  color: white;
  background-color: #3D3D3D;
  border-top: 1px solid #3D3D3D;
  border-bottom: 1px solid #3D3D3D;
  font-size: 14px;
  font-weight: 600;
  padding: 0px 5px;
  box-sizing: border-box;
  text-align: center;
}

.DashboardTitle {
  position: fixed;
  top: 110px;
  width: 170px;
  height: 30px;
  line-height: 30px;
  color: white;
  background-color: #3D3D3D;
  border: 1px solid #3D3D3D;
  box-sizing: border-box;
  text-align: center;
}

.NavigationBar {
  background-color: #b8b8b8;
  height: calc(100vh - 196px);
  width: 170px;
  border-top: 1px solid #3D3D3D;
  border-right: 1px solid #3D3D3D;
  font-size: 16px;
  font-weight: 600;
  margin-top: 79px;
  margin-bottom: 55px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 30px;
  box-sizing: border-box;
  scrollbar-width: thin;
  overflow-y: auto;
  overflow-x: hidden;
}

.NavigationItems {
  font-size: 14px;
  font-weight: 600;
  padding-top: 5px;
  padding-left: 0px;
  list-style: none;
  width: 100%;
  height: auto;
  text-align: left;
  box-sizing: border-box;
}
.NavigationItems li {
  padding-top: 10px;
  display: block;
}
.NavigationItems a {
  color: "#000";
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 600;
  text-align: left;
}
.NavigationItems a:hover {
  font-weight: 700;
  text-decoration: underline;
}
.NavigationItems a:active {
  font-weight: 700;
  text-decoration: underline;
}
.NavigationItems a.active {
  font-weight: 700;
  text-decoration: underline;
}

.NavigationButton {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding-left: 5px;
  padding-left: 5px;
  padding-left: 20px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  display: inline-block;
  width: 170px;
  height: 20px;
  text-align: left;
  outline: none;
}

.BlankCanvas {
  background-color: #E7E7E7;
  margin: auto;
  width: 500px;
  padding-top: 30px;
  padding-left: 80px;
  padding-right: 80px;
  text-align: left;
  overflow-y: auto;
  box-sizing: border-box;
}

.VendorCanvas {
  background-color: white;
  border: "none";
  margin: auto;
  width: 504px;
  padding: 10px 40px 10px 40px;
  text-align: left;
  scrollbar-width: thin;
  overflow-y: auto;
  box-sizing: border-box;
}

.PaymentCanvas {
  background-color: white;
  margin: auto;
  width: 504px;
  padding: 10px 40px 10px 40px;
  text-align: left;
  scrollbar-width: thin;
  overflow-y: auto;
  box-sizing: border-box;
}

.PaypalCanvas {
  background-color: white;
  margin: auto;
  width: 750px;
  padding: 30px 40px;
  text-align: left;
  scrollbar-width: thin;
  overflow-y: auto;
  box-sizing: border-box;
}

.CompleteCanvas {
  background-color: white;
  border: none;
  margin: auto;
  width: 604px;
  padding: 30px 40px;
  text-align: left;
  scrollbar-width: thin;
  overflow-y: auto;
  box-sizing: border-box;
}

/*
.SystemDownMessage {
  z-index: 200;
  position: fixed;
  top: 195px;
  text-align: center;
  background-color: #fff;
  color: red;
  height: calc(100vh - 255px);
  width: 1030px;
  font-size: 20px;
  font-weight: 400;
  padding-top: 40px;
}
*/

.SummaryGridTitle {
  display: grid;
  grid-template-columns: 180px 180px 180px;
  column-gap: 20px;
  background-color: #EFF3FA;
  color: #0B1423;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: calc((630px - 580px)/2);
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}

.SummaryGrid {
  display: grid;
  grid-template-columns: 180px 180px 180px;
  column-gap: 20px;
  background-color: #EFF3FA;
  color: #000;
  padding-bottom: 10px;
  padding-left: calc((630px - 580px)/2);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.CompleteUpperGrid {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  column-gap: 100px;
  padding-left: 95px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

.CompleteMiddleGrid {
  display: grid;
  grid-template-columns: 120px 120px 120px;
  column-gap: 180px;
  padding-left: 135px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

.CompleteLowerGrid {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  column-gap: 100px;
  padding-left: 95px;
  padding-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.RightSkewedGrid {
  display: grid;
  grid-template-columns: 300px 60px;
  column-gap: 20px;
  height: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.LeftSkewedGrid {
  display: grid;
  grid-template-columns: 60px 300px;
  column-gap: 20px;
  height: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.SummaryHeader {
  padding-top: 40px;
  color: #000;
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 40px;
  text-align: center;
}

.SummaryFooter {
  padding-top: 40px;
  color: #000;
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 40px;
  text-align: center;
}

.CompleteHeaderLine {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  padding-bottom: "40px"
}

.SummaryButton {
  font-size: 16px;
  width: 90px;
  height: 30px;
  margin: auto;
  text-align: center;
}

.OnboardingButton {
  font-size: 16px;
  width: 150px;
  height: 30px;
  margin: auto;
  text-align: center;
}

.OrganizationButtonGrid {
  display: grid;
  grid-template-columns: 250px 250px;
  padding-top: 40px;
  padding-left: 245px;
}

.OrganizationButton {
  font-size: 16px;
  width: 120px;
  height: 30px;
  margin: auto;
  text-align: center;
}

.ButtonGreen {
  height: 40px;
  width: 424px;
  background-color: #00A300;
  color: #fff;
  border: 1px solid black;
  outline: none;
  font-size: 14px;
}
.ButtonGreen:hover {
  background-color: #007A00;
  color: #fff;
  border: 1px solid black;
  outline: none;
}
.ButtonGreen:active {
  background-color: #005200;
  color: #fff;
  border: 1px solid black;
  outline: none;
}