.DashboardContainer {
  font-family: "Roboto", sans-serif;
  background-color: #2f5596;
  background-image: linear-gradient(180deg, #2f5596 0%, #000000 100%);
  height: calc(100vh - 57px);
  padding-top: 60px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  box-sizing: border-box;
}

.DashboardCanvas {
  background-color: white;
  display: grid;
  grid-template-columns: 170px auto;
  border: 1px solid #3D3D3D;
  width: 1200px;
  height: 100%;
  margin: auto;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-align: left;
  box-sizing: border-box;
}

.DisplayPanelTitle {
  position: fixed;
  top: 60px;
  width: 1030px;
  background-color: white;
  border-bottom: 1px solid grey;
  height: 50px;
  padding-left: 15px;
  padding-top: 15px;
  font-size: 26px;
  font-weight: 600;
  box-sizing: border-box;
}

.DisplayPanel {
  background-color: white;
  font-size: 15px;
  width: 1030px;
  height: calc(100vh - 167px);
  margin-top: 50px;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  scrollbar-width: thin;
  overflow-y: auto;
}

.NavigationTitle {
  position: fixed;
  top: 60px;
  width: 170px;
  height: 50px;
  line-height: 50px;
  color: white;
  background-color: #3D3D3D;
  border-top: 1px solid #3D3D3D;
  border-bottom: 1px solid #3D3D3D;
  font-size: 14px;
  font-weight: 600;
  padding: 0px 5px;
  box-sizing: border-box;
  text-align: center;
}

.DashboardTitle {
  position: fixed;
  top: 110px;
  width: 170px;
  height: 30px;
  line-height: 30px;
  color: white;
  background-color: #3D3D3D;
  border: 1px solid #3D3D3D;
  box-sizing: border-box;
  text-align: center;
}

.NavigationBar {
  background-color: #b8b8b8;
  height: calc(100vh - 196px);
  width: 170px;
  border-top: 1px solid #3D3D3D;
  border-right: 1px solid #3D3D3D;
  font-size: 16px;
  font-weight: 600;
  margin-top: 79px;
  margin-bottom: 55px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 30px;
  box-sizing: border-box;
  scrollbar-width: thin;
  overflow-y: auto;
  overflow-x: hidden;
}

.NavigationItems {
  font-size: 14px;
  font-weight: 600;
  padding-top: 10px;
  padding-left: 0px;
  list-style: none;
  width: 100%;
  height: auto;
  text-align: left;
  box-sizing: border-box;
}
.NavigationItems li {
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
}
.NavigationItems a {
  color: "#000";
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 600;
  text-align: left;
}
.NavigationItems a:hover {
  font-weight: 700;
  text-decoration: underline;
}
.NavigationItems a:active {
  font-weight: 700;
  text-decoration: underline;
}
.NavigationItems a.active {
  font-weight: 700;
  text-decoration: underline;
}

.NavigationButton {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding-left: 5px;
  padding-left: 5px;
  padding-left: 20px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  display: inline-block;
  width: 170px;
  height: 20px;
  text-align: left;
  outline: none;
}

.BlankCanvas {
  background-color: #E7E7E7;
  margin: auto;
  width: 500px;
  padding-top: 30px;
  padding-left: 80px;
  padding-right: 80px;
  text-align: left;
  overflow-y: auto;
  box-sizing: border-box;
}

.VendorCanvas {
  background-color: white;
  border: 1px solid grey;
  margin: auto;
  width: 504px;
  padding: 30px 40px;
  text-align: left;
  scrollbar-width: thin;
  overflow-y: auto;
  box-sizing: border-box;
}

.PaymentCanvas {
  background-color: white;
  border: 1px solid grey;
  margin: auto;
  width: 504px;
  padding: 30px 40px 10px 40px;
  text-align: left;
  scrollbar-width: thin;
  overflow-y: auto;
  box-sizing: border-box;
}

.CompleteCanvas {
  background-color: white;
  border: 1px solid grey;
  margin: auto;
  width: 700px;
  padding: 30px 40px;
  text-align: left;
  overflow-y: auto;
  box-sizing: border-box;
}

/*
.SystemDownMessage {
  z-index: 200;
  position: fixed;
  top: 195px;
  text-align: center;
  background-color: #fff;
  color: red;
  height: calc(100vh - 255px);
  width: 1030px;
  font-size: 20px;
  font-weight: 400;
  padding-top: 40px;
}
*/

.SummaryGrid {
  display: grid;
  grid-template-columns: 240px 240px 240px;
  column-gap: 60px;
  padding-left: 75px;
  padding-bottom: 30px;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.CompleteGrid {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  column-gap: 100px;
  padding-left: 95px;
  padding-top: 60px;
  padding-bottom: 20px;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

.CompleteLowerGrid {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  column-gap: 100px;
  padding-left: 95px;
  padding-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.SummaryHeader {
  padding-top: 60px;
  color: #2F5596;
  font-size: 26px;
  font-weight: 600;
  padding-bottom: 60px;
  text-align: center;
}

.SummaryButton {
  font-size: 16px;
  width: 90px;
  height: 30px;
  margin: auto;
  text-align: center;
}

.OrganizationButtonGrid {
    display: grid;
    grid-template-columns: 250px 250px;
    padding-top: 40px;
    padding-left: 245px;
}

.OrganizationButton {
  font-size: 16px;
  width: 120px;
  height: 30px;
  margin: auto;
  text-align: center;
}