.MainContainer {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  min-height: calc(100vh - 60px);
  width: 100vw;
  padding-top: 60px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 40px;
}

@media (min-width: 500px) {
  .MainContainer {
    font-family: "Roboto", sans-serif;
    background-color: #8dadd4;
    background-image: linear-gradient(180deg, #8dadd4 0%, #F0F4F9 100%);
    min-height: calc(100vh - 60px);
    width: 100vw;
    padding-top: 120px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 40px;
  }
}

.Modal {
  position: fixed;
  background-color: #fff;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 5%;
  padding-left: 5%;
  top: 15%;
  text-align: center;
  box-sizing: border-box;
}
@media (min-width: 450px) {
  .Modal {
    width: 450px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    left: calc(50% - 225px);
  }
}