.MainContainer {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  min-height: calc(100vh - 60px);
  width: 100vw;
  padding-top: 60px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 40px;
}

@media (min-width: 500px) {
  .MainContainer {
    font-family: "Roboto", sans-serif;
    background-color: #2f5596;
    background-image: linear-gradient(180deg, #2f5596 0%, #000000 100%);
    min-height: calc(100vh - 60px);
    width: 100vw;
    padding-top: 120px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 40px;
  }
}

.Modal {
  position: fixed;
  background-color: #fff;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 5%;
  padding-left: 5%;
  top: 15%;
  text-align: center;
  box-sizing: border-box;
  transition: all 0.6s ease-out;
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
}
.BlankCanvas {
  background-color: #fff;
  margin: auto;
  width: auto;
  height: auto;
  padding-left: 0px;
  padding-left: 0px;
  text-align: left;
  overflow-y: auto;
}
.Header {
  display: grid;
  grid-template-columns: 95% 5%;
  column-gap: "0px";
  font-size: 24px;
  font-weight: 600;
  padding-top: 20px;
  padding-bottom: 20px;
}
.Alternates {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: "0px";
  font-size: 14px;
  padding-top: 20px;
}
.InputBox {
  border: 1px solid #8DADD4;
  border-radius: 0px;
  background-color: #EFF3FA;
  width: 100%;
  height: 40px;
  padding-left: 10px;
  font-size: 14px;
}
.InputCheckbox {
  border: 1px solid #8DADD4;
  border-radius: 0px;
  background-color: #EFF3FA;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  padding-top: 10px;
  padding-left: 10px;
}
.SubmitButton {
  background-color: #2F5596;
  color: #fff;
  width: 100%;
  height: 40px;
  font-size: 14px;
}
.SubmitButton:hover {
  background-color: #1D355D;
  border: 1px solid #000;
}
.SubmitButton:active {
  background-color: #14233E;
  border: 1px solid #000;
}
.CancelButton {
  border: 1px solid #000;
  border-radius: 0px;
  color: #fff;
  background-color: #999999;
  width: 340px;
  height: 40px;
  font-size: 14px;
}
.CancelButton:hover {
  background-color: #858585;
  border: 1px solid #000;
}
.CancelButton:active {
  background-color: #707070;
  border: 1px solid #000;
}
.BlueText {
  font-size: 14px;
  text-align: left;
  font-weight: 600;
  padding-left: 0px;
  color: #0000FF;
  border: none;
  background-color: #fff;
  cursor: pointer;
  display: inline-block;
  outline: none;
}
.BlueText:hover {
  color: #0000CC;
}

@media (min-width: 500px) {
  .Modal {
    width: 500px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 79px;
    padding-right: 79px;
    left: calc(50% - 250px);
  }
  .BlankCanvas {
    padding-left: calc(50% - 170px);
    padding-left: calc(50% - 170px);
  }
  .InputBox {
    width: 340px;
  }
  .SubmitButton {
    width: 340px;
  }
}