.OuterCanvas {
  background-color: #2f5596;
  color: #fff;
  min-height: 100vh;
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
}
.ParentBox {
  background-color: #fff;
  border-style: solid;
  color: #000;
  margin: auto;
  width: 1085px;
  height: calc(100vh - 20px);
}
.HeaderBox {
  background-color: orange;
  color: red;
  height: 60px;
}
.MiddleBox {
  background-color: red;
  color: black;
  height: calc(100vh - 160px);
  min-height: 160px;
  overflow-y: auto;
}
.FooterBox {
  background-color: green;
  color: white;
  height: 80px;
}

@media (min-height: 740px) {
  .OuterCanvas {
    padding-top: calc((100vh - 720px) / 2);
    padding-bottom: calc((100vh - 720px) / 2);
  }
  .ParentBox {
    margin: auto;
    height: 720px;
  }

  .MiddleBox {
    background-color: greenyellow;
    color: blue;
    height: 580px;
  }
}
