.MainContainer {
  background-color: #2f5596;
  height: 100vh;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}
.MainGrid {
  background-color: #fff;
  margin: auto;
  height: 100vh;
  display: grid;
  grid-template-columns: auto auto;
}
.LeftGrid {
  display: grid;
}
.PromoGrid {
  height: 48px;
  display: grid;
}
.Red {
  border: 1px solid red
}
.Blue {
  border: 1px solid blue
}
.RightGrid {
  display: grid;
}
.EventGrid {
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  height: 60px;
  border-bottom: 1px solid lightgrey;
  display: grid;
  grid-template-columns: auto auto;
}
.EventHeaderCheckout {
  text-align: center;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  height: 50px;
  border-bottom: 1px solid lightgrey;
}
.EventHeader {
  text-align: center;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  height: 50px;
  border-bottom: 1px solid lightgrey;
}
.EventTitle {
  font-size: 0.8rem;
  font-weight: 600;
}
.EventDate {
  font-size: 0.7rem;
  font-weight: 400;
}
.EventTicketSection {
  background-color: #fff;
  height: calc(100vh - 140px);
  padding-top: 30px;
  padding-left: 80px;
  padding-right: 80px;
  text-align: left;
  overflow-y: auto;
}
.EventFooter {
  display: grid;
  grid-template-columns: auto 80px 130px;
  padding-top: 18px;
  padding-bottom: 18px;
  border-top: 1px solid lightgrey;
  height: 80px;
}
.EventFooterMod {
  display: grid;
  grid-template-columns: auto 80px;
  padding-top: 18px;
  padding-bottom: 18px;
  border-top: 1px solid lightgrey;
  height: 80px;
}
.Image {
  max-width: 100%;
  max-height: auto;
}
.OrderSummary {
  background-color: #e5e5e5;
  font-size: 0.875rem;
  height: calc(100vh - 160px);
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
  overflow-y: auto;
}
.OrderSummaryAlt {
  background-color: #e5e5e5;
  font-size: 0.875rem;
  height: calc(100vh - 80px);
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
  overflow-y: auto;
}
.EmptyOrderSummary {
  color: grey;
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.MainItemLeft {
  background-color: #f9f9f9;
  border-right: 1px solid lightgrey;

}
.SectionHeader {
  font-size: 1.5rem;
  font-weight: 700;
  padding-top: 5px;
  padding-bottom: 10px;
}
.EventDescription {
  font-weight: 400;
  padding-bottom: 5px;
}
.TicketType {
  font-weight: 600;
  padding-bottom: 5px;
}
.TicketPrices {
  font-weight: 600;
  padding-bottom: 5px;
}
.TicketFees {
  font-weight: 400;
}
.TicketAmount {
  text-align: right;
  padding-top: 5px;
}
.SelectionBox {
  font-size: 16px;
  padding-left: 5px;
}
.SelectionBox:hover {
  cursor: pointer;
}
.SelectionBox:focus {
  border: 2px solid blue;
  outline: none;
}
.BlankCanvas {
  background-color: #fff;
  margin: auto;
  vertical-align: center;
  height: 100vh;
  padding-top: 30px;
  text-align: left;
  overflow-y: auto;
  box-sizing: border-box;
}
.OrderConfirmItems {
  padding-left: 0px
}
.Spinner {
  background-color: #fff;
  margin: auto;
  vertical-align: center;
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
}
.SubSectionHeader {
  font-weight: 500;
}
.AlertText {
  color: red;
}
.AlertTextSmall {
  color: red;
}
.SuccessTextSmall {
  color: blue;
}

.ButtonRed {
  height: 44px;
  width: 127px;
  background-color: red;
  color: white;
  fontweight: 600;
  border: 1px solid grey;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.ButtonGreen {
  height: 44px;
  width: 127px;
  background-color: #4caf50;
  color: white;
  fontweight: 600;
  border: 1px solid grey;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.ButtonGrey {
  height: 44px;
  width: 127px;
  background-color: #e7e7e7;
  color: black;
  fontweight: 600;
  border: 1px solid grey;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.faShoppingCart {
  font-size: 1.5rem;
  vertical-align: center;
}
.faShoppingCart:hover {
  border-color: transparent;
}
.faChevronUp {
  font-size: 0.75rem;
  vertical-align: center;
}
.faChevronUp:hover {
  border-color: transparent;
}
.faChevronDown {
  font-size: 0.75rem;
  vertical-align: center;
}
.faChevronDown:hover {
  border-color: transparent;
}
.cartBadge {
  border-radius: 50%;
  vertical-align: super;
  font-size: 16px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  font-style: italic;
  background: red;
}
.TotalAmount {
  text-align: right;
  padding-right: 10px;
  padding-top: 8px;
  font-size: 20px;
  font-weight: 600;
}
.CartLink {
  padding-top: 8px;
  font-size: 20px;
  font-weight: 600;
}

.PromoInputRed {
  padding-left: 10px;
  color: red;
  background-color: white;
  border: none;
  outline: none; 
}

.PromoInputBlue {
  padding-left: 10px;
  color: #000;
  background-color: white;
  border: none;
  outline: none !important;
}

.PromoButtonRed {
  font-size: 14px;
  text-align: center;
  color: red;
  background-color: white;
  border: none;
  outline: none !important;
}

.PromoButtonBlue {
  font-size: 14px;
  text-align: center;
  color: blue;
  background-color: white;
  border: none;
  outline: none;
}

.PromoButtonRed:focus {
	-moz-outline-style: none;
	outline:none;
	outline:0;
}

.PromoButtonBlue:focus {
	-moz-outline-style: none;
	outline:none;
	outline:0;
}
.EnterPromoCode {
  color: blue;
  width: 140px;
}
.EnterPromoCode:hover {
  font-weight: 600;
  cursor: pointer;
  text-decoration: underline;
}
.AppliedPromoCode {
  background-color: #EFF8E9;
  padding-top: 5px;
  padding-left: 5px;
  height: 30px;
}
.RemovePromoCode {
  color: blue;
  font-size: 14px;
  width: 80px;
}
.RemovePromoCode:hover {
  font-weight: 600;
  cursor: pointer;
  text-decoration: underline;
}
.ImageBox {
  max-height: auto;
  max-width: 70px;
}

@media (min-width: 400px) {
  .EventTitle {
    font-size: 1.0rem;
    font-weight: 600;
  }
  .EventDate {
    font-size: 0.8rem;
    font-weight: 400;
  }
  .EventHeaderCheckout {
    height: 60px;
  }
  .EventHeader {
    height: 60px;
  }
}

@media (max-width: 480px) {
  .MainGrid {
    grid-template-columns: auto;
  }
  .LeftGrid {
    grid-template-columns: auto 80px;
  }
  .PromoGrid {
    grid-template-columns: auto 80px;
  }
  .RightGrid {
    grid-template-columns: auto 80px;
  }
  .EventTicketSection {
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 10px;
  }
  .EventFooter {
    padding-left: 15px;
    padding-right: 15px;
  }
  .EventFooterMod {
    padding-left: 15px;
    padding-right: 15px;
  }
  .EventDescription {
    font-size: 1rem;
  }
  .TicketType {
    font-size: 1.25rem;
  }
  .TicketPrices {
    font-size: 1rem;
  }
  .TicketFees {
    font-size: 0.875rem;
  }
  .SelectionBox {
    height: 40px;
    width: 50px;
  }
  .BlankCanvas {
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 10px;
  }

  .SubSectionHeader {
    font-size: 18px;
  }
  .SubBody {
    font-size: 12px;
  }
  .AlertText {
    font-size: 12px;
  }
  .AlertTextSmall {
    font-size: 8px;
  }
  .SuccessTextSmall {
    font-size: 8px;
  }
}

@media (min-width: 480px) {
  .MainGrid {
    grid-template-columns: auto;
  }
  .LeftGrid {
    grid-template-columns: auto 80px;
  }
  .PromoGrid {
    grid-template-columns: auto 80px;
  }
  .EventTitle {
    font-size: 1.125rem;
    font-weight: 600;
  }
  .EventDate {
    font-size: 0.9rem;
    font-weight: 400;
  }
  .RightGrid {
    grid-template-columns: auto 80px;
  }
  .EventTicketSection {
    padding-top: 30px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .EventFooter {
    padding-left: 25px;
    padding-right: 25px;
  }
  .EventFooterMod {
    padding-left: 25px;
    padding-right: 25px;
  }
  .EventDescription {
    font-size: 1rem;
  }
  .TicketType {
    font-size: 1.25rem;
  }
  .TicketPrices {
    font-size: 1rem;
  }
  .TicketFees {
    font-size: 0.875rem;
  }
  .SelectionBox {
    height: 40px;
    width: 50px;
  }
  .BlankCanvas {
    padding-top: 30px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .SubSectionHeader {
    font-size: 20px;
  }
  .SubBody {
    font-size: 14px;
  }
  .AlertText {
    font-size: 14px;
  }
  .AlertTextSmall {
    font-size: 10px;
  }
  .SuccessTextSmall {
    font-size: 10px;
  }
}

@media (min-width: 660px) {
  .MainContainer {
    padding-left: 25px;
    padding-right: 25px;
  }
  .MainGrid {
    grid-template-columns: auto;
  }
  .LeftGrid {
    grid-template-columns: auto 80px;
  }
  .PromoGrid {
    grid-template-columns: auto 80px;
  }
  .RightGrid {
    grid-template-columns: auto 80px;
  }
  .EventTicketSection {
    padding-top: 30px;
    padding-left: 80px;
    padding-right: 80px;
  }
  .EventFooter {
    padding-left: 80px;
    padding-right: 80px;
  }
  .EventFooterMod {
    padding-left: 80px;
    padding-right: 80px;
  }
  .EventDescription {
    font-size: 1rem;
  }
  .TicketType {
    font-size: 1.25rem;
  }
  .TicketPrices {
    font-size: 1rem;
  }
  .TicketFees {
    font-size: 0.875rem;
  }
  .SelectionBox {
    height: 40px;
    width: 50px;
  }
  .BlankCanvas {
    padding-top: 30px;
    padding-left: 25px;
    padding-right: 25px;
  }

  @media (min-height: 720px) {
    .MainContainer {
      padding-top: calc((100vh - 720px) / 2);
      padding-bottom: calc((100vh - 720px) / 2);
    }
    .MainGrid {
      height: 720px;
    }
    .EventTicketSection {
      height: 580px;
    }
    .OrderSummary {
      height: 560px;
    }
    .OrderSummaryAlt {
      height: 640px;
    }

    .BlankCanvas {
      height: 720px;
    }
    .Spinner {
      height: 720px;
    }
  }
}

@media (min-width: 790px) {
  .MainContainer {
    padding-left: 25px;
    padding-right: 25px;
  }
  .MainGrid {
    grid-template-columns: auto 320px;
  }
  .LeftGrid {
    grid-template-columns: auto 80px;
  }
  .PromoGrid {
    grid-template-columns: auto 80px;
  }
  .RightGrid {
    grid-template-columns: auto 80px;
  }
  .EventTicketSection {
    padding-left: 25px;
    padding-right: 25px;
  }
  .EventFooter {
    padding-left: 25px;
    padding-right: 25px;
  }
  .EventFooterMod {
    padding-left: 25px;
    padding-right: 25px;
  }
  .EventDescription {
    font-size: 1rem;
  }
  .TicketType {
    font-size: 1.25rem;
  }
  .TicketPrices {
    font-size: 1rem;
  }
  .TicketFees {
    font-size: 0.875rem;
  }
  .SelectionBox {
    height: 50px;
    width: 60px;
  }
  .BlankCanvas {
    padding-left: 25px;
    padding-right: 25px;
  }
  .OrderConfirmItems {
    padding-left: 30px
  }

  .SubSectionHeader {
    font-size: 22px;
  }
  .SubBody {
    font-size: 14px;
  }
  .AlertText {
    font-size: 13px;
  }
  .AlertTextSmall {
    font-size: 9px;
  }
  .SuccessTextSmall {
    font-size: 9px;
  }
}

@media (min-width: 960px) {
  .MainContainer {
    padding-left: 25px;
    padding-right: 25px;
  }
  .MainGrid {
    grid-template-columns: auto 360px;
  }
  .LeftGrid {
    grid-template-columns: auto 80px;
  }
  .PromoGrid {
    grid-template-columns: auto 80px;
  }
  .RightGrid {
    grid-template-columns: auto 80px;
  }
  .EventTicketSection {
    padding-top: 30px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .EventFooter {
    padding-left: 25px;
    padding-right: 25px;
  }
  .EventFooterMod {
    padding-left: 25px;
    padding-right: 25px;
  }
  .OrderSummary {
    height: calc(100vh - 180px);
  }
  .OrderSummaryAlt {
    height: calc(100vh - 80px);
  }
  .EventDescription {
    font-size: 0.875rem;
  }
  .TicketType {
    font-size: 1.125rem;
  }
  .TicketPrices {
    font-size: 0.875rem;
  }
  .TicketFees {
    font-size: 0.75rem;
  }
  .SelectionBox {
    height: 50px;
    width: 60px;
  }
  .BlankCanvas {
    padding-left: 25px;
    padding-right: 25px;
  }

  .SubSectionHeader {
    font-size: 24px;
  }
  .SubBody {
    font-size: 16px;
  }
  .AlertText {
    font-size: 16px;
  }
  .AlertTextSmall {
    font-size: 12px;
  }
  .SuccessTextSmall {
    font-size: 12px;
  }

  @media (min-height: 720px) {
    .OrderSummary {
      height: 540px;
    }
    .OrderSummaryAlt {
      height: 640px;
    }
  }
}

@media (min-width: 1140px) {
  .MainContainer {
    padding-left: 25px;
    padding-right: 25px;
  }
  .MainGrid {
    width: 1080px;
    grid-template-columns: 720px 360px;
  }
  .LeftGrid {
    grid-template-columns: 480px 80px;
  }
  .PromoGrid {
    grid-template-columns: 480px 77px;
  }
  .RightGrid {
    grid-template-columns: 230px 80px;
  }
  .EventTicketSection {
    padding-top: 30px;
    padding-left: 80px;
    padding-right: 80px;
  }
  .EventFooter {
    padding-left: 80px;
    padding-right: 80px;
  }
  .EventFooterMod {
    padding-left: 80px;
    padding-right: 80px;
  }
  .EventDescription {
    font-size: 0.875rem;
  }
  .TicketType {
    font-size: 1.125rem;
  }
  .TicketPrices {
    font-size: 0.875rem;
  }
  .TicketFees {
    font-size: 0.75rem;
  }
  .SelectionBox {
    height: 50px;
    width: 60px;
  }
  .BlankCanvas {
    width: 1080px;
    padding-left: 80px;
    padding-right: 80px;
  }
  .Spinner {
    width: 1080px;
  }
  .SubSectionHeader {
    font-size: 30px;
  }
  .SubBody {
    font-size: 20px;
  }
  .AlertText {
    font-size: 20px;
  }
  .AlertTextSmall {
    font-size: 14px;
  }
  .SuccessTextSmall {
    font-size: 14px;
  }
}
