/*
STYLING GUIDELINES
media query sizes:
smaller than or equal to 768 px (smartphones)
larger than 768 px (small devices, tablets)
larger than 992 px (medium devices)
larger than 1200px (large devices)

my screen is 1620 px

smaller than 480 pixels show the smartphone layout
larger than 480 pixels but smaller than 1024 pixels show the tablet layout
larger than 1024 show the regular desktop layout
*/

.GridMain {
  display: grid;
}

.GridMainItemLeft {
  text-align: left;
  padding-top: 20px;
}

.GridMainItemRight {
  text-align: left;
  padding-top: 20px;
}

.GridLeft {
  display: grid;
  grid-template-columns: auto auto;
}

.GridLeftItemLeft {
  text-align: left;
}

.GridLeftItemRight {
  text-align: right;
  padding-right: 30%;
}

.GridRight {
  display: grid;
  grid-template-columns: 90% 10%;
}

.GridRightItemLeft {
  text-align: left;
}

.GridRightItemRight {
  text-align: right;
}

.GridButtons {
  display: grid;
  grid-template-columns: auto auto;
}

.GridButtonsLeft {
  text-align: center;
}

.GridButtonsRight {
  text-align: center;
}

.GridButtonsLarge {
  display: grid;
  grid-template-columns: auto auto;
}

.GridButtonsLargeLeft {
  text-align: center;
}

.GridButtonsLargeRight {
  text-align: center;
}

.ContentBoxLarge {
  margin: auto;
  padding-top: 150px;
  padding-bottom: 75px;
}

.SectionHeader {
  padding-left: 5%;
  color: #212226;
  font-weight: 500;
}

.Body {
  padding-left: 5%;
  padding-right: 5%;
}

.SubSectionHeader {
  font-weight: 500;
}

.AlertText {
  color: red;
}

.AlertTextSmall {
  color: red;
}

.SuccessTextSmall {
  color: blue;
}

.ButtonGrey {
  background-color: #e7e7e7;
  color: black;
  border: 1px solid grey;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.ButtonWhite {
  background-color: white;
  color: black;
  border: 1px solid grey;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.ButtonGreenLarge {
  background-color: #4caf50;
  color: white;
  border: 1px solid grey;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.ButtonGreyLarge {
  background-color: #e7e7e7;
  color: black;
  border: 1px solid grey;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.ButtonWhiteLarge {
  background-color: white;
  color: black;
  border: 1px solid grey;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

@media (max-width: 480px) {
  .GridMain {
    grid-template-columns: auto;
  }
  .ContentBoxLarge {
    width: 100%;
  }
  .SectionHeader {
    font-size: 22px;
    line-height: 22px;
  }
  .Body {
    font-size: 12px;
  }
  .Logo {
    width: 130px;
  }
  .SubSectionHeader {
    font-size: 18px;
  }
  .SubBody {
    font-size: 12px;
  }

  .AlertText {
    font-size: 12px;
  }
  .AlertTextSmall {
    font-size: 8px;
  }

  .SuccessTextSmall {
    font-size: 8px;
  }

  .GridLeftItemLeft {
    font-size: 12px;
  }

  .GridLeftItemRight {
    padding-top: 4px;
  }

  .TicketSelect {
    font-size: 14px;
    height: 36px;
    width: 36px;
  }

  .GridRightItemLeft {
    font-size: 12px;
  }

  .ButtonGrey {
    padding: 9px 15px;
    width: 90px;
    font-size: 12px;
  }
  .ButtonWhite {
    padding: 9px 15px;
    width: 90px;
    font-size: 12px;
  }
  .ButtonGreenLarge {
    padding: 9px 15px;
    width: 135px;
    font-size: 12px;
  }
  .ButtonGreyLarge {
    padding: 9px 15px;
    width: 135px;
    font-size: 12px;
  }
  .ButtonWhiteLarge {
    padding: 9px 15px;
    width: 110px;
    font-size: 12px;
  }
}

@media (min-width: 480px) {
  .GridMain {
    grid-template-columns: auto;
  }
  .ContentBoxLarge {
    width: 480px;
  }
  .SectionHeader {
    font-size: 24px;
    line-height: 24px;
  }
  .Body {
    font-size: 14px;
  }
  .Logo {
    width: 160px;
  }
  .SubSectionHeader {
    font-size: 20px;
  }
  .SubBody {
    font-size: 14px;
  }

  .AlertText {
    font-size: 14px;
  }

  .AlertTextSmall {
    font-size: 10px;
  }

  .SuccessTextSmall {
    font-size: 10px;
  }

  .GridLeftItemLeft {
    font-size: 14px;
  }

  .GridLeftItemRight {
    padding-top: 4px;
  }

  .TicketSelect {
    font-size: 16px;
    height: 40px;
    width: 40px;
  }

  .GridRightItemLeft {
    font-size: 14px;
  }

  .ButtonGrey {
    padding: 9px 15px;
    width: 100px;
    font-size: 14px;
  }
  .ButtonWhite {
    padding: 9px 15px;
    width: 100px;
    font-size: 14px;
  }
  .ButtonGreenLarge {
    padding: 9px 15px;
    width: 150px;
    font-size: 14px;
  }
  .ButtonGreyLarge {
    padding: 9px 15px;
    width: 150px;
    font-size: 14px;
  }
  .ButtonWhiteLarge {
    padding: 9px 15px;
    width: 120px;
    font-size: 14px;
  }
}

@media (min-width: 760px) {
  .GridMain {
    grid-column-gap: 5%;
    grid-template-columns: 50% 45%;
  }
  .ContentBoxLarge {
    width: 760px;
  }
  .SectionHeader {
    font-size: 28px;
    line-height: 28px;
  }
  .Body {
    font-size: 16px;
  }
  .Logo {
    width: 250px;
  }
  .SubSectionHeader {
    font-size: 22px;
  }
  .SubBody {
    font-size: 14px;
  }

  .AlertText {
    font-size: 13px;
  }

  .AlertTextSmall {
    font-size: 9px;
  }

  .SuccessTextSmall {
    font-size: 9px;
  }

  .GridLeftItemLeft {
    font-size: 14px;
  }

  .GridLeftItemRight {
    padding-top: 4px;
  }

  .TicketSelect {
    font-size: 18px;
    height: 44px;
    width: 44px;
  }

  .GridRightItemLeft {
    font-size: 14px;
  }

  .ButtonGrey {
    padding: 9px 15px;
    width: 100px;
    font-size: 14px;
  }
  .ButtonWhite {
    padding: 9px 15px;
    width: 100px;
    font-size: 14px;
  }
  .ButtonGreenLarge {
    padding: 9px 15px;
    width: 150px;
    font-size: 14px;
  }
  .ButtonGreyLarge {
    padding: 9px 15px;
    width: 150px;
    font-size: 14px;
  }
  .ButtonWhiteLarge {
    padding: 9px 15px;
    width: 120px;
    font-size: 14px;
  }
}

@media (min-width: 990px) {
  .GridMain {
    grid-column-gap: 5%;
    grid-template-columns: 50% 45%;
  }
  .ContentBoxLarge {
    width: 990px;
  }
  .SectionHeader {
    font-size: 32px;
    line-height: 32px;
  }
  .Body {
    font-size: 18px;
  }
  .Logo {
    width: 330px;
  }
  .SubSectionHeader {
    font-size: 24px;
  }
  .SubBody {
    font-size: 16px;
  }

  .AlertText {
    font-size: 16px;
  }

  .AlertTextSmall {
    font-size: 12px;
  }

  .SuccessTextSmall {
    font-size: 12px;
  }

  .GridLeftItemLeft {
    font-size: 16px;
  }

  .GridLeftItemRight {
    padding-top: 5px;
  }

  .TicketSelect {
    font-size: 20px;
    height: 48px;
    width: 48px;
  }

  .GridRightItemLeft {
    font-size: 16px;
  }

  .ButtonGrey {
    padding: 9px 15px;
    width: 120px;
    font-size: 16px;
  }
  .ButtonWhite {
    padding: 9px 15px;
    width: 120px;
    font-size: 16px;
  }
  .ButtonGreenLarge {
    padding: 9px 15px;
    width: 180px;
    font-size: 16px;
  }
  .ButtonGreyLarge {
    padding: 9px 15px;
    width: 180px;
    font-size: 16px;
  }
  .ButtonWhiteLarge {
    padding: 9px 15px;
    width: 140px;
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  .GridMain {
    grid-column-gap: 5%;
    grid-template-columns: 50% 45%;
  }
  .ContentBoxLarge {
    width: 1200px;
  }
  .SectionHeader {
    font-size: 36px;
    line-height: 36px;
  }
  .Body {
    font-size: 20px;
  }
  .Logo {
    width: 400px;
  }
  .SubSectionHeader {
    font-size: 30px;
  }
  .SubBody {
    font-size: 20px;
  }

  .AlertText {
    font-size: 20px;
  }

  .AlertTextSmall {
    font-size: 14px;
  }

  .SuccessTextSmall {
    font-size: 14px;
  }

  .GridLeftItemLeft {
    font-size: 20px;
  }

  .GridLeftItemRight {
    padding-top: 6px;
  }

  .TicketSelect {
    font-size: 24px;
    height: 60px;
    width: 60px;
  }

  .GridRightItemLeft {
    font-size: 20px;
  }

  .ButtonGrey {
    padding: 9px 15px;
    width: 140px;
    font-size: 20px;
  }
  .ButtonWhite {
    padding: 9px 15px;
    width: 140px;
    font-size: 20px;
  }
  .ButtonGreenLarge {
    padding: 9px 15px;
    width: 200px;
    font-size: 20px;
  }
  .ButtonGreyLarge {
    padding: 9px 15px;
    width: 200px;
    font-size: 20px;
  }
  .ButtonWhiteLarge {
    padding: 9px 15px;
    width: 160px;
    font-size: 20px;
  }
}
