style={{
    height: "44px",
    width: "127px",
    backgroundColor: "#d1410c",
    color: "black",
    fontWeight: "600",
    border: "1px #d1410c",
    borderRadius: "8px"
}}

.ButtonGreenLarge {
    height: 44px;
    width: 127px;
    background-color: #4caf50;
    color: white;
    fontWeight: 600;
    border: 1px solid grey;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.ButtonGreyLarge {
    height: 44px;
    width: 127px;
    background-color: #e7e7e7;
    color: black;
    fontWeight: 600;
    border: 1px solid grey;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}


.ButtonGreenLarge {
  background-color: #4caf50;
  color: white;
  border: 1px solid grey;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.ButtonGreyLarge {
  background-color: #e7e7e7;
  color: black;
  border: 1px solid grey;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

@media (max-width: 480px) {
  .ButtonGreenLarge {
    padding: 9px 15px;
    width: 135px;
    font-size: 12px;
  }
  .ButtonGreyLarge {
    padding: 9px 15px;
    width: 135px;
    font-size: 12px;
  }
}

@media (min-width: 480px) {
  .ButtonGreenLarge {
    padding: 9px 15px;
    width: 150px;
    font-size: 14px;
  }
  .ButtonGreyLarge {
    padding: 9px 15px;
    width: 150px;
    font-size: 14px;
  }
}

@media (min-width: 790px) {
  .ButtonGreenLarge {
    padding: 9px 15px;
    width: 150px;
    font-size: 14px;
  }
  .ButtonGreyLarge {
    padding: 9px 15px;
    width: 150px;
    font-size: 14px;
  }
}

@media (min-width: 960px) {
  .ButtonGreenLarge {
    padding: 9px 15px;
    width: 180px;
    font-size: 16px;
  }
  .ButtonGreyLarge {
    padding: 9px 15px;
    width: 180px;
    font-size: 16px;
  }
}

@media (min-width: 1140px) {
  .ButtonGreenLarge {
    padding: 9px 15px;
    width: 200px;
    font-size: 20px;
  }
  .ButtonGreyLarge {
    padding: 9px 15px;
    width: 200px;
    font-size: 20px;
  }
}

  // NEED TO STYLE
  // THIS SECTION IS NOT DEPENDENT UPON SCREEN SIZE OR VIEW CONDITIONS
  if (!isLoading && ticketOrder.totalPurchaseAmount > 0) {
    checkoutButton = (
      <button
        onClick={purchaseTicketHandler}
        disabled={false}
        style={{
          height: "44px",
          width: "127px",
          backgroundColor: "#d1410c",
          color: "black",
          fontWeight: "600",
          border: "1px #d1410c",
          borderRadius: "8px"
        }}
      >
        <Link to="/checkout">Checkout</Link>
      </button>
    );
  } else if (!isLoading) {
    checkoutButton = (
      <button
        disabled={true}
        style={{
          height: "44px",
          width: "127px",
          backgroundColor: "#fff",
          color: "lightgrey",
          fontWeight: "600",
          border: "1px solid lightgrey",
          borderRadius: "8px"
        }}
      >
        Checkout
      </button>
    );
  } else checkoutButton = null;