.ParagraphStyling {
  color: "blue";
}

.EventHeader {
  text-align: center;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  height: 60px;
  border-bottom: 1px solid lightgrey;
}
.EventTitle {
  font-size: 14px;
  font-weight: 600;
}
.EventDate {
  font-size: 12px;
  font-weight: 400;
}
.EventDescription {
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 10px;
}
.EventFooter {
  display: grid;
  grid-template-columns: auto 80px 200px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 18px;
  padding-bottom: 18px;
  border-top: 1px solid lightgrey;
  height: 80px;
}
.CartLink {
  padding-top: 8px;
  font-size: 20px;
  font-weight: 600;
}
.TotalAmount {
  text-align: right;
  padding-right: 10px;
  padding-top: 8px;
  font-size: 20px;
  font-weight: 600;
}
.Image {
  height: auto;
  width: 100%;
}
.ImageBox {
  max-height: auto;
  max-width: 70px;
}
.EmptyOrderSummary {
  color: grey;
  position: relative;
  float: left;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.MainItemLeft {
  background-color: #f9f9f9;
  border-right: 1px solid lightgrey;
}

.ButtonBlue {
  height: 40px;
  width: 150px;
  background-color: #0000f5;
  color: #fff;
  font-size: 16px;
  border: 1px solid black;
  outline: none;
}
.ButtonBlue:hover {
  background-color: #0000cc;
  color: #fff;
  border: 1px solid black;
  outline: none;
}
.ButtonBlue:active {
  background-color: #0000a3;
  color: #fff;
  border: 1px solid black;
  outline: none;
}
.ButtonGrey {
  height: 40px;
  width: 150px;
  background-color: #999999;
  color: white;
  border: 1px solid black;
  outline: none;
  font-size: 16px;
}
.ButtonGrey:hover {
  background-color: #858585;
  color: white;
  border: 1px solid black;
  outline: none;
}
.ButtonGrey:active {
  background-color: #707070;
  color: white;
  border: 1px solid black;
  outline: none;
}

.ButtonGreen {
  height: 40px;
  width: 200px;
  background-color: #00a300;
  color: #fff;
  border: 1px solid black;
  outline: none;
}
.ButtonGreen:hover {
  background-color: #007a00;
  color: #fff;
  border: 1px solid black;
  outline: none;
}
.ButtonGreen:active {
  background-color: #005200;
  color: #fff;
  border: 1px solid black;
  outline: none;
}
.ButtonGreenOpac {
  height: 40px;
  width: 200px;
  background-color: #00a300;
  opacity: 0.3;
  color: #fff;
  border: 1px solid black;
  outline: none;
}
.ButtonGreenLarge {
  height: 40px;
  width: 180px;
  background-color: #00a300;
  color: #fff;
  border: 1px solid black;
  outline: none;
}
.ButtonGreenLarge:hover {
  background-color: #007a00;
  color: #fff;
  border: 1px solid black;
  outline: none;
}
.ButtonGreenLarge:active {
  background-color: #005200;
  color: #fff;
  border: 1px solid black;
  outline: none;
}
.ButtonRedLarge {
  height: 40px;
  width: 180px;
  background-color: #cc0000;
  color: #fff;
  border: 1px solid black;
  outline: none;
}
.ButtonRedLarge:hover {
  background-color: #a30000;
  color: #fff;
  border: 1px solid black;
  outline: none;
}
.ButtonRedLarge:active {
  background-color: #7a0000;
  color: #fff;
  border: 1px solid black;
  outline: none;
}
.faShoppingCart {
  font-size: 90px;
  vertical-align: center;
}
.faShoppingCart:hover {
  border-color: transparent;
}
.PromoGrid {
  height: 48px;
  display: grid;
  grid-template-columns: auto 80px;
}
.Red {
  border: 1px solid red;
}
.Blue {
  border: 1px solid blue;
}
.EnterPromoCode {
  color: blue;
  width: 140px;
  padding-bottom: 10px;
}
.EnterPromoCode:hover {
  font-weight: 600;
  cursor: pointer;
  text-decoration: underline;
}
.AppliedPromoCode {
  background-color: #eff8e9;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  margin-bottom: 10px;
  height: 40px;
  vertical-align: center;
}
.RemovePromoCode {
  color: blue;
  font-size: 14px;
  width: 80px;
}
.RemovePromoCode:hover {
  font-weight: 600;
  cursor: pointer;
  text-decoration: underline;
}
.PromoCodeInputBoxRed {
  padding-left: 10px;
  color: red;
  background-color: white;
  border: none;
  outline: none;
}
.PromoCodeInputBoxBlack {
  padding-left: 10px;
  color: black;
  background-color: white;
  border: none;
  outline: none;
}
.PromoCodeButtonBlue {
  font-size: 14px;
  text-align: center;
  color: blue;
  background-color: white;
  border: none;
  outline: none;
}
.PromoCodeButtonRed {
  font-size: 14px;
  text-align: center;
  color: red;
  background-color: white;
  border: none;
  outline: none;
}
.BlankCanvas {
  background-color: #fff;
  font-size: 20px;
  line-height: 28px;
  color: red;
  margin: auto;
  vertical-align: center;
  height: 100vh;
  padding-top: 80px;
  text-align: center;
  overflow-y: auto;
  box-sizing: border-box;
}

@media (min-width: 480px) {
  .EventTitle {
    font-size: 16px;
    font-weight: 600;
  }
  .EventDate {
    font-size: 14px;
    font-weight: 400;
  }
  .EventFooter {
    padding-left: 25px;
    padding-right: 25px;
  }
  .BlankCanvas {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (min-width: 660px) {
  @media (min-height: 720px) {
    .BlankCanvas {
      height: 720px;
    }
  }
}

@media (min-width: 1140px) {
  .PromoGrid {
    grid-template-columns: auto 77px;
  }
  .BlankCanvas {
    width: 1080px;
  }
}
