.Header {
  padding: 10px 0px 5px 0px;
  max-height: auto;
  max-width: 90px;
  box-sizing: border-box;
}

.Side {
  padding: 5px 0px 5px 0px;
  max-height: auto;
  max-width: 100px;
  box-sizing: border-box;
}

.Footer {
  padding: 10px 0px 10px 5px;
  max-height: auto;
  max-width: 80px;
  box-sizing: border-box;
}

@media (min-width: 550px) {
  .Footer {
    max-width: 110px;
    padding-left: 30px;
  }
}
