.Event {
  font-family: "Roboto", sans-serif;
  text-align: center;
  border: 1px solid #f3f6fa;
  box-shadow: 2px 2px 3px #e3e3e3;
  margin: 10px 10px 10px 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.EventImage {
  text-align: center;
  box-sizing: border-box;
}

.Event:hover,
.Event:active {
  background-color: #e7e7e7;
  box-shadow: 20px 20px 50px #ccc;
}

.EventDetail {
  text-align: left;
  padding: 16px 12px;
  box-sizing: border-box;
}

.EventDate {
  font-weight: 600;
  padding-bottom: 6px;
  color: red;
}

.EventTitle {
  font-weight: 600;
  padding-bottom: 6px;
}

.EventLocation {
  font-weight: 400;
  color: grey;
}

@media (max-width: 600px) {
  .Event {
    font-size: 16px;
    min-width: calc(100vw-40px);
    max-width: calc(100vw-40px);
    min-height: calc(100vw-40px);
    max-height: calc(100vw-40px);
  }
  .EventImage {
    font-size: 20px;
    min-width: 100%;
    max-width: 100%;
    min-height: 50%;
    max-height: 50%;
  }
  .EventDetail {
    font-size: 16px;
    width: 100%;
    height: 50%;
  }
  .EventDate {
    font-size: 16px;
  }
  .EventTitle {
    font-size: 20px;
  }
  .EventLocation {
    font-size: 16px;
  }
}

@media (min-width: 600px) {
  .Event {
    font-size: 14px;
    width: 260px;
    height: 260px;
  }
  .EventImage {
    font-size: 18px;
    width: 260px;
    height: 130px;
  }
  .EventDetail {
    font-size: 14px;
    width: 260px;
    height: 130px;
  }
  .EventDate {
    font-size: 14px;
  }
  .EventTitle {
    font-size: 18px;
  }
  .EventLocation {
    font-size: 14px;
  }
}
