.Footer ul {
  list-style: none;
  margin: 0;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
  color: #2F5596;
  font-weight: bold;
  text-align: center;
}

.Footer ul li:first-child {
  float: left;
  vertical-align: text-bottom;
}

.Footer li {
  display: inline-block;
  margin: 20px;
  font-size: 14px; 
  text-align: center;
}