.Button {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin-left: 50%;
  font-weight: bold;
}

.Button:first-of-type {
  margin-left: 0;
  padding-left: 0;
}

.Green {
  color: #5c9210;
}

.Red {
  color: #944317;
}

.Blue {
  color: #2f5596;
}
