.SideDrawer {
  position: fixed;
  top:0;
  right:0;
  width: 100vw;
  height: auto;
  z-index: 900;
  color: #fff;
  background-color: #2F5596;
  padding: 16px 25px 10px 25px;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
  
  
  /*transition: opacity transform 0.3s ease-out, bottom 0.9s ease-out;
  -webkit-transition: opacity transform 0.3s ease-out, bottom 0.9s ease-out;
  -moz-transition: opacity transform 0.3s ease-out, bottom 0.9s ease-out;
  -ms-transition: opacity transform 0.3s ease-out, bottom 0.9s ease-out;
  -o-transition: opacity transform 0.3s ease-out, bottom 0.9s ease-out;*/
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(+100%);
}

.Title {
    color: "#000";
    text-decoration: none;
    font-weight: 300;
    text-align: right;
    display: grid;
    grid-template-columns: auto 30px;
}