.SideDrawer {
    position: fixed;
    top:0;
    right:0;
    width: 200px;
    height: auto;
    z-index: 400;
    background-color: white;
    padding: 16px 16px 10px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(+100%);
}

.Title {
    color: "#000";
    text-decoration: none;
    font-weight: 500;
    text-align: left;
    display: grid;
    grid-template-columns: auto 30px;
}