.MainContainer {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  min-height: calc(100vh - 60px);
  padding-top: 50px;
  padding-bottom: 40px;
  padding-right: 10px;
  padding-left: 10px;
  box-sizing: border-box;
}

.MainGrid {
  background-color: #fff;
  vertical-align: center;
  width: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: left;
  box-sizing: border-box;
}

.Events {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

@media (min-width: 550px) {
  .MainContainer {
    padding-top: 90px;
  }
}

@media (min-width: 780px) {
  .MainContainer {
    padding-top: 100px;
  }
}

.EventsHeader {
  font-size: 20px;
  font-weight: 600;
  padding-left: 10px;
}

@media (min-width: 620px) {
  .EventsHeader {
    padding-left: calc((100vw - 600px) / 2);
  }
}

@media (min-width: 860px) {
  .EventsHeader {
    padding-left: 10px;
  }
}

@media (min-width: 880px) {
  .EventsHeader {
    padding-left: calc((100vw - 880px) / 2);
  }
}

@media (min-width: 1140px) {
  .EventsHeader {
    padding-left: 10px;
  }
}

@media (min-width: 1160px) {
  .EventsHeader {
    padding-left: calc((100vw - 1160px) / 2);
  }
}

@media (min-width: 1420px) {
  .EventsHeader {
    padding-left: 10px;
  }
}

@media (min-width: 1440px) {
  .EventsHeader {
    padding-left: calc((100vw - 1440px) / 2);
  }
}
