.MainContainer {
  font-family: "'Roboto', sans-serif";
  position: fixed;
  z-index: 700;
  background-color: white;
  border: 2px solid #ccc;
  height: 700px;
  width: 1080px;
  top: calc((100vh - 700px) / 2);
  left: calc((100vw - 1080px) / 2);
  text-align: center;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}

/*
  //fontFamily: "'Roboto', sans-serif",
  //backgroundColor: `#2f5596`,
  \\backgroundImage: `linear-gradient(180deg, #2f5596 0%, #000000 100%)`,
  \\paddingTop: `calc((${inHeight}px - 720px) / 2)`,
  paddingLeft: `25px`,
  paddingRight: `25px`,
  \\paddingBottom: `calc((${inHeight}px - 720px) / 2)`,
*/

/*
  if (inWidth < 660) {
    MainContainer = {
      fontFamily: "'Roboto', sans-serif",
      backgroundColor: `#2f5596`,
      height: `${inHeight}px`,
      paddingTop: `0px`,
      paddingLeft: `0px`,
      paddingRight: `0px`,
      paddingBottom: `0px`,
    };
  } else if (inHeight < 720) {
    MainContainer = {
      fontFamily: "'Roboto', sans-serif",
      backgroundColor: `#2f5596`,
      backgroundImage: `linear-gradient(180deg, #2f5596 0%, #000000 100%)`,
      height: `${inHeight}px`,
      paddingTop: `0px`,
      paddingLeft: `25px`,
      paddingRight: `25px`,
      paddingBottom: `0px`,
    };
  } else {
    MainContainer = {
      fontFamily: "'Roboto', sans-serif",
      backgroundColor: `#2f5596`,
      backgroundImage: `linear-gradient(180deg, #2f5596 0%, #000000 100%)`,
      paddingTop: `calc((${inHeight}px - 720px) / 2)`,
      paddingLeft: `25px`,
      paddingRight: `25px`,
      paddingBottom: `calc((${inHeight}px - 720px) / 2)`,
    };
  }
*/

.ButtonGrey {
  height: 40px;
  width: 150px;
  background-color: #999999;
  color: #fff;
  border: 1px solid black;
  outline: none;
}
.ButtonGrey:hover {
  background-color: #858585;
  color: #fff;
  border: 1px solid black;
  outline: none;
}
.ButtonGrey:active {
  background-color: #707070;
  color: #fff;
  border: 1px solid black;
  outline: none;
}

@media (min-width: 700px) {
  .Modal {
    width: 700px;
    left: calc(50% - 350px);
  }
}

.CropBoxControls {
  margin: auto;
  width: 500px;
  padding-top: 5px;
}
