.SideItems {
    font-family: "Roboto", sans-serif;
    padding-left: 0px;
    list-style: none;
    width: 100%;
    height: auto;
    text-align: left;
}
.SideItems li {
    border-bottom: 1px solid lightgrey;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
}
.SideItems a {
    color: "#000";
    text-decoration: none;
    font-weight: 500;
    text-align: left;
}
.SideItems a:hover {
    font-weight: 700;
    text-decoration: underline;
}
.SideItems a:active {
    font-weight: 700;
    text-decoration: underline;
}
.SideItems a.active {
    font-weight: 700;
    text-decoration: underline;
}

.Title {
    color: "#000";
    text-decoration: none;
    font-weight: 600;
    text-align: left;
    display: grid;
    grid-template-columns: auto 13px;
}