.FooterNew {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  border-top: 2px solid #2f5596;
  height: 70px;
  width: 100%;
  z-index: 9999;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 100px auto;
}

.Image {
  margin: auto;
}

.CopyRight {
  margin: auto;
}





.Footer {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  border-top: 2px solid #2f5596;
  height: 90px;
  width: 100%;
  z-index: 9999;
  top: 0;
  left: 0;
}
.Footer ul {
  list-style: none;
  margin: 0;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
  color: #2f5596;
  font-weight: bold;
  text-align: center;
}

.Footer ul li:first-child {
  float: left;
  vertical-align: text-bottom;
}

.Footer li {
  display: inline-block;
  margin: 20px;
  font-size: 14px;
  text-align: center;
}

.FooterClean {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  border-top: 2px solid #2f5596;
  height: 60px;
  width: 100%;
  z-index: 9999;
  top: 0;
  left: 0;
}

.FooterCleanText {
  font-family: "Roboto", sans-serif;
  border-top: 2px solid #2f5596;
  display: inline-block;
  margin: auto;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
  color: #2f5596;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
