.MainContainer {
  font-family: "Roboto", sans-serif;
  background-color: white;
  padding-top: 100px;
  padding-bottom: 40px;
  padding-right: 10px;
  padding-left: 10px;
}

.MainGrid {
  background-color: #fff;
  vertical-align: center;
  margin: auto;
  width: 690px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: left;
}

.SectionHeader {
  text-indent: 150px;
  color: #212226;
  margin: 0 0 0 0;
  font-size: 56px;
  font-weight: 500;
  line-height: 45px;
}

.VideoSection {
  text-align: center;
  padding: 40px 0;
}

@media (max-width: 990px) {
  .VideoSection {
    text-align: center;
    padding: 20px 0;
    width: auto;
  }
}
