.MainContainer {
  font-family: "Roboto", sans-serif;
  background-color: blue;
  padding-top: 100px;
  padding-bottom: 40px;
}

.MainGrid {
  background-color: white;
  vertical-align: center;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: left;
}

.SectionHeader {
  color: #212226;
  font-size: 20px;
  font-weight: 500;
  line-height: 45px;
  text-align: center;
}

.VideoSection {
  background-color: blue;
  text-align: center;
}

.VideoSection2 {
  text-align: center;
  background-color: blue;
  width: 420px;
  height: 236px;
}

@media (max-width: 383px) {
  .MainGrid {
    width: auto;
  }
  .VideoSection {
    width: 310;
    height: 174px;
  }
  .VideoSection2 {
    width: 310;
    height: 174px;
  }
}

@media (max-width: 380px) {
  .MainGrid {
    width: auto;
  }
  .VideoSection {
    width: 330;
    height: 185px;
  }
  .VideoSection2 {
    width: 330;
    height: 185px;
  }
}

@media (max-width: 420px) {
  .SectionHeader {
    text-align: left;
    padding-left: 35px;
  }
}

@media (max-width: 770px) {
  .MainGrid {
    width: auto;
  }
  .SectionHeader {
    font-size: 18px;
  }
  .VideoSection {
    width: 420;
    height: 236px;
  }
  .VideoSection2 {
    width: 420;
    height: 236px;
  }
}

@media (min-width: 770px) {
  .MainGrid {
    width: 770px;
  }
  .SectionHeader {
    text-align: left;
    padding-left: 35px;
  }
  .VideoSection {
    width: 640;
    height: 360px;
  }
  .VideoSection2 {
    width: 640;
    height: 360px;
  }
}
