.EventHeader {
    text-align: center;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    height: 50px;
    border-bottom: 1px solid lightgrey;
}
.EventTitle {
    font-size: 0.8rem;
    font-weight: 600;
}
.EventDate {
    font-size: 0.7rem;
    font-weight: 400;
}
.EventDescription {
    font-weight: 400;
    padding-bottom: 5px;
}
.EventFooter {
    display: grid;
    grid-template-columns: auto 80px 130px;
    padding-top: 18px;
    padding-bottom: 18px;
    border-top: 1px solid lightgrey;
    height: 80px;
}
.CartLink {
    padding-top: 8px;
    font-size: 20px;
    font-weight: 600;
}
.TotalAmount {
    text-align: right;
    padding-right: 10px;
    padding-top: 8px;
    font-size: 20px;
    font-weight: 600;
}

.Image {
    max-width: 100%;
    max-height: auto;
}
.ImageBox {
    max-height: auto;
    max-width: 70px;
}

.EmptyOrderSummary {
    color: grey;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.MainItemLeft {
    background-color: #f9f9f9;
    border-right: 1px solid lightgrey;
}

.ButtonRed {
    height: 44px;
    width: 127px;
    background-color: red;
    color: white;
    fontweight: 600;
    border: 1px solid grey;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.ButtonGrey {
    height: 44px;
    width: 127px;
    background-color: #e7e7e7;
    color: black;
    fontweight: 600;
    border: 1px solid grey;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.faShoppingCart {
    font-size: 1.5rem;
    vertical-align: center;
}
.faShoppingCart:hover {
    border-color: transparent;
}
.cartBadge {
    border-radius: 50%;
    vertical-align: super;
    font-size: 16px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    font-style: italic;
    background: red;
}

.PromoGrid {
    height: 48px;
    display: grid;
}
.Red {
    border: 1px solid red
}
.Blue {
    border: 1px solid blue
}
.EnterPromoCode {
    color: blue;
    width: 140px;
}
.EnterPromoCode:hover {
    font-weight: 600;
    cursor: pointer;
    text-decoration: underline;
}
.AppliedPromoCode {
    background-color: #EFF8E9;
    padding-top: 5px;
    padding-left: 5px;
    height: 30px;
}
.RemovePromoCode {
    color: blue;
    font-size: 14px;
    width: 80px;
}
.RemovePromoCode:hover {
    font-weight: 600;
    cursor: pointer;
    text-decoration: underline;
}
.PromoCodeInputBoxRed {
    padding-left: 10px;
    color: red;
    background-color: white;
    border: none;
    outline: none;
}
.PromoCodeInputBoxBlack {
    padding-left: 10px;
    color: black;
    background-color: white;
    border: none;
    outline: none;
}
.PromoCodeButtonBlue {
    font-size: 14px;
    text-align: center;
    color: blue;
    background-color: white;
    border: none;
    outline: none;
}
.PromoCodeButtonRed {
    font-size: 14px;
    text-align: center;
    color: red;
    background-color: white;
    border: none;
    outline: none;
}

.BlankCanvas {
    background-color: #fff;
    margin: auto;
    vertical-align: center;
    height: 100vh;
    padding-top: 30px;
    text-align: left;
    overflow-y: auto;
    box-sizing: border-box;
}

@media (min-width: 400px) {
    .EventHeader {
        height: 60px;
    }
    .EventTitle {
        font-size: 1.0rem;
        font-weight: 600;
    }
    .EventDate {
        font-size: 0.8rem;
        font-weight: 400;
    }
}

@media (max-width: 480px) {
    .EventDescription {
        font-size: 1rem;
    }
    .EventFooter {
        padding-left: 15px;
        padding-right: 15px;
    }

    .PromoGrid {
        grid-template-columns: auto 80px;
    }

    .BlankCanvas {
        padding-top: 30px;
        padding-left: 15px;
        padding-right: 10px;
    }
}

@media (min-width: 480px) {
    .EventTitle {
        font-size: 1.125rem;
        font-weight: 600;
    }
    .EventDate {
        font-size: 0.9rem;
        font-weight: 400;
    }
    .EventDescription {
        font-size: 1rem;
    }
    .EventFooter {
        padding-left: 25px;
        padding-right: 25px;
    }

    .PromoGrid {
        grid-template-columns: auto 80px;
    }

    .BlankCanvas {
        padding-top: 30px;
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media (min-width: 660px) {
    .EventDescription {
        font-size: 1rem;
    }
    .EventFooter {
        padding-left: 80px;
        padding-right: 80px;
    }

    .PromoGrid {
        grid-template-columns: auto 80px;
    }

    .BlankCanvas {
        padding-top: 30px;
        padding-left: 25px;
        padding-right: 25px;
    }

    @media (min-height: 720px) {
        .BlankCanvas {
            height: 720px;
        }
    }
}

@media (min-width: 790px) {
    .EventDescription {
        font-size: 1rem;
    }
    .EventFooter {
        padding-left: 25px;
        padding-right: 25px;
    }

    .PromoGrid {
        grid-template-columns: auto 80px;
    }

    .BlankCanvas {
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media (min-width: 960px) {
    .EventDescription {
        font-size: 0.875rem;
    }
    .EventFooter {
        padding-left: 25px;
        padding-right: 25px;
    }

    .PromoGrid {
        grid-template-columns: auto 80px;
    }

    .BlankCanvas {
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media (min-width: 1140px) {
    .EventDescription {
        font-size: 0.875rem;
    }
    .EventFooter {
        padding-left: 80px;
        padding-right: 80px;
    }

    .PromoGrid {
        grid-template-columns: 480px 77px;
    }

    .BlankCanvas {
        width: 1080px;
        padding-left: 80px;
        padding-right: 80px;
    }
}
