.Modal {
  position: fixed;
  z-index: 700;
  background-color: white;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 5%;
  padding-left: 5%;
  top: 10%;
  text-align: center;
  box-sizing: border-box;
  transition: all 0.6s ease-out;
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
}
.BlankCanvas {
  background-color: white;
  margin: auto;
  width: auto;
  height: auto;
  z-index: 100;
  padding-left: 0px;
  padding-left: 0px;
  text-align: left;
  overflow-y: auto;
  box-sizing: border-box;
}
.Header {
  display: grid;
  grid-template-columns: 90% 10%;
  column-gap: "0px";
  font-size: 24px;
  font-weight: 600;
  padding-top: 20px;
  padding-bottom: 20px;
}
.Alternates {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: "0px";
  font-size: 14px;
  padding-top: 20px;
}
.InputBox {
  border: 1px solid #8dadd4;
  border-radius: 0px;
  background-color: #eff3fa;
  width: 100%;
  height: 40px;
  padding-left: 10px;
  font-size: 14px;
}

.ButtonBlueOpac {
  background-color: grey;
  color: #fff;
  width: 100%;
  height: 40px;
  font-size: 14px;
  opacity: 0.5;
  border: 1px solid black;
  outline: none;
}
.SubmitButton {
  background-color: #2f5596;
  color: #fff;
  width: 100%;
  height: 40px;
  font-size: 14px;
}
.SubmitButton:hover {
  background-color: #1d355d;
  border: 1px solid #000;
}
.SubmitButton:active {
  background-color: #14233e;
  border: 1px solid #000;
}
.CancelButton {
  border: 1px solid #000;
  border-radius: 0px;
  color: #fff;
  background-color: #999999;
  width: 340px;
  height: 40px;
  font-size: 14px;
}
.CancelButton:hover {
  background-color: #858585;
  border: 1px solid #000;
}
.CancelButton:active {
  background-color: #707070;
  border: 1px solid #000;
}
.BlueText {
  font-size: 14px;
  text-align: left;
  font-weight: 600;
  padding-left: 0px;
  color: #0000ff;
  border: none;
  background-color: #fff;
  cursor: pointer;
  display: inline-block;
  outline: none;
}
.BlueText:hover {
  color: #0000cc;
}

@media (min-width: 460px) {
  .Modal {
    width: 460px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 59px;
    padding-right: 59px;
    left: calc(50% - 230px);
  }
  .BlankCanvas {
    padding-left: calc(50% - 170px);
    padding-left: calc(50% - 170px);
  }
  .InputBox {
    width: 340px;
  }
  .SubmitButton {
    width: 340px;
  }
}
