/*.DisplayPanel {
  background-color: white;
  font-size: 15px;
  width: 1020px;
  height: calc(100vh - 117px);
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  box-sizing: border-box;
}*/

.DisplayPanel {
  background-color: white;
  font-size: 15px;
  width: 900px;
  height: calc(100vh - 167px);
  margin-top: 50px;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  scrollbar-width: thin;
  overflow-y: auto;
}

.SwitchButton {
  font-size: 14px;
  text-align: left;
  font-weight: 400;
  padding-right: 0px;
  padding-left: 0px;
  color: blue;
  border: none;
  background-color: #fff;
  cursor: pointer;
  display: inline-block;
  outline: none;
}

@media (min-width: 760px) {
  .SwitchButton {
    padding-left: 20px;
  }
}

.DashboardHeader {
  position: fixed;
  background-color: #e7e7e7;
  border-bottom: 1px solid lightgrey;
  width: 1020px;
  height: 60px;
  text-align: left;
  font-size: 15px;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 30px;
}

.MainContainer {
  font-family: "Roboto", sans-serif;
  background-color: green;
  background-image: linear-gradient(180deg, #2f5596 0%, #000000 100%);
  padding-top: 80px;
  padding-left: 30px;
  padding-right: 0px;
  padding-bottom: 40px;
}

.MainGrid {
  background-color: white;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  margin-top: 66px;
  width: 1025px;
  height: calc(100vh - 57px);
  border: 1px solid grey;
  scrollbar-width: thin;
  overflow-y: auto;
}

.MainDisplay {
  background-color: white;
  height: calc(100vh - 207px);
  margin-top: 90px;
  scrollbar-width: thin;
  overflow-y: auto;
  font-size: 15px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 15px;
}

@media (min-width: 760px) {
  .MainDisplay {
    height: calc(100vh - 192px);
    margin-top: 75px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 1020px) {
  .MainDisplay {
    width: 1020px;
  }
}

.GridTitlePanel {
  position: fixed;
  background-color: #fff;
  border-bottom: 1px solid grey;
  width: 100%;
  z-index: 200;
  top: 60px;
  padding-top: 15px;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 5px;
  box-sizing: border-box;
}

@media (min-width: 1020px) {
  .GridTitlePanel {
    width: 1020px;
    box-sizing: border-box;
  }
}

.GridTitle {
  display: grid;
  color: red;
  grid-template-columns: 120px 85px auto;
  column-gap: 5px;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
  width: 100%;
  font-weight: 600;
  font-size: 20px;
}

@media (min-width: 760px) {
  .GridTitle {
    display: grid;
    grid-template-columns: 125px auto 120px 120px 120px;
    column-gap: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 1020px) {
  .GridTitle {
    display: grid;
    grid-template-columns: 125px 465px 120px 120px 120px;
    column-gap: 10px;
  }
}

.GridButtons {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  column-gap: calc((100% - 310px) / 2);
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 35px;
  box-sizing: border-box;
  height: 30px;
  font-weight: 600;
  font-size: 20px;
}

@media (min-width: 420px) {
  .GridButtons {
    display: grid;
    grid-template-columns: 120px 120px 120px;
    column-gap: calc((100% - 370px) / 2);
    padding-left: 10px;
  }
}

.GridSubTitle {
  margin: auto;
  display: grid;
  /*background-color: #C2D9FF;*/
  grid-template-columns: 200px 380px;
  column-gap: 10px;
  box-sizing: border-box;
  font-size: 14px;
  height: 16px;
}

.GridBottom {
  padding-top: 20px;
  padding-left: 225px;
  display: grid;
  grid-template-columns: 150px 150px 150px;
  box-sizing: border-box;
  font-size: 30px;
  font-weight: 600;
  height: 70px;
}

.CategoryTitle {
  margin: 10px 0px 0px 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 600;
  height: 40px;
  background-color: black;
  color: white;
}

.SectionTitleTight {
  padding: 10px 10px 0px 25px;
  height: 30px;
  font-size: 15px;
  font-weight: 600;
  background-color: #e7e7e7;
  border-top: 1px solid lightgrey;
  box-sizing: border-box;
}

.SectionTitle {
  padding: 10px 10px 0px 25px;
  height: 35px;
  font-size: 15px;
  font-weight: 600;
  background-color: #e7e7e7;
  border-top: 1px solid lightgrey;
  box-sizing: border-box;
}

.DateTimeHeader {
  display: grid;
  grid-template-columns: 110px 120px 110px 120px 330px;
  padding: 5px 10px 5px 35px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #e7e7e7;
  text-align: left;
  font-weight: 400;
}

.DateTimeInputs {
  display: grid;
  grid-template-columns: 110px 120px 110px 120px 330px;
  padding: 0px 10px 10px 35px;
  font-size: 16px;
  background-color: #e7e7e7;
  box-sizing: border-box;
}

.InputBox {
  height: auto;
  font-size: 16px;
  padding: 5px 10px 10px 25px;
  box-sizing: border-box;
  border-color: red;
  background-color: #e7e7e7;
}

.InputBoxTight {
  height: auto;
  font-size: 16px;
  padding: 5px 10px 0px 25px;
  box-sizing: border-box;
  background-color: #e7e7e7;
}

.InputBoxContent {
  padding: 9px 10px;
  border: 1px solid lightgrey;
  box-sizing: border-box;
  line-height: 1.75;
  height: 40px;
}
.InputBoxContentError {
  padding: 9px 10px;
  border: 1px solid red;
  box-sizing: border-box;
  line-height: 1.75;
  height: 40px;
}

.TextBox {
  height: auto;
  font-size: 16px;
  padding: 5px 10px 6px 25px;
  box-sizing: border-box;
  background-color: #e7e7e7;
}

.SocialMediaLink {
  display: grid;
  grid-template-columns: 40px 120px 500px;
  height: 55px;
  font-size: 16px;
  padding: 5px 10px 10px 35px;
  box-sizing: border-box;
  background-color: #e7e7e7;
}

.SocialMediaIcon {
  margin: auto;
  padding-top: 1px;
  /*padding: 11px 5px 0px 0px;
    text-align: left;*/
}

.SocialMediaName {
  padding: 11px 5px 0px 0px;
  text-align: right;
}

.FeatureButton {
  font-size: 15px;
  color: blue;
  border: none;
  background-color: #e7e7e7;
  cursor: pointer;
  display: inline-block;
  outline: none;
}

.FeatureButton:focus {
  outline: 0;
}

.PriceFeatureButton {
  font-size: 16px;
  color: blue;
  border: none;
  background-color: #e7e7e7;
  cursor: pointer;
  display: inline-block;
  outline: none;
}

.InfoIcon .InfoText {
  color: blue;
  cursor: pointer;
}

.InfoIcon:hover .InfoText {
  color: red;
  cursor: pointer;
}

.OrderLine {
  display: grid;
  grid-template-columns: 300px 300px;
  padding: 5px 10px 10px 35px;
  box-sizing: border-box;
  background-color: #e7e7e7;
  height: 55px;
  font-size: 16px;
}

.TicketLine {
  display: grid;
  grid-template-columns: 360px 165px 165px 80px 80px;
  height: 60px;
  font-size: 16px;
  border-top: 1px solid lightgrey;
  box-sizing: border-box;
}

.DraggedTicketLine {
  background-color: #f0f7fc;
  display: grid;
  grid-template-columns: 360px 100px 165px 80px 80px;
  height: 60px;
  font-size: 16px;
  border-top: 1px solid lightgrey;
  box-sizing: border-box;
}

.OrderBox {
  padding: 9px 10px;
  border: 1px solid lightgrey;
  box-sizing: border-box;
  width: 100px;
  height: 40px;
}

.OrderBoxWarning {
  padding: 9px 10px;
  border: 1px solid red;
  box-sizing: border-box;
  width: 100px;
  height: 40px;
}

.NameBox {
  padding: 9px 10px;
  border: 1px solid lightgrey;
  box-sizing: border-box;
}

.NameBoxWarning {
  padding: 9px 10px;
  border: 1px solid red;
  box-sizing: border-box;
}

.QuantityBox {
  padding: 9px 10px;
  border: 1px solid lightgrey;
  box-sizing: border-box;
  width: 155px;
  height: 40px;
}

.QuantityBoxWarning {
  padding: 9px 10px;
  border: 1px solid red;
  box-sizing: border-box;
  width: 155px;
  height: 40px;
}

.PriceBox {
  margin: 10px 5px;
  border: 1px solid lightgrey;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 70px 83px;
}

.PriceBoxWarning {
  margin: 10px 5px;
  border: 1px solid red;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 70px 83px;
}

.ForPriceBox {
  background-color: fff;
  padding: 9px 0px 9px 0px;
  border: 1px solid lightgrey;
  box-sizing: border-box;
}

.ForPriceBoxWarning {
  background-color: fff;
  padding: 9px 0px 9px 0px;
  border: 1px solid red;
  box-sizing: border-box;
}

.TicketLineWarning {
  display: grid;
  grid-template-columns: 360px 130px 135px 80px 80px;
  height: 16px;
  font-size: 12px;
  color: red;
  border-top: 0px;
  box-sizing: border-box;
}

.OrderLineWarning {
  padding: 0px 10px 15px 115px;
  display: grid;
  grid-template-columns: 300px 300px;
  box-sizing: border-box;
  color: red;
  background-color: #e7e7e7;
  height: 22px;
  font-size: 12px;
}

.BogofLineWarning {
  padding: 0px 10px 15px 60px;
  display: grid;
  grid-template-columns: 230px 230px;
  box-sizing: border-box;
  color: red;
  background-color: #e7e7e7;
  height: 22px;
  font-size: 12px;
}

.BogodLineWarning {
  padding: 0px 10px 15px 60px;
  display: grid;
  grid-template-columns: 328px 203px 230px;
  box-sizing: border-box;
  color: red;
  background-color: #e7e7e7;
  height: 22px;
  font-size: 12px;
}

.TwoferLineWarning {
  padding: 0px 10px 15px 60px;
  display: grid;
  grid-template-columns: 197px 280px;
  box-sizing: border-box;
  color: red;
  background-color: #e7e7e7;
  height: 22px;
  font-size: 12px;
}

.SpecialFeaturesBox {
  padding: 9px 10px;
  text-align: center;
  border: 1px solid lightgrey;
  box-sizing: border-box;
  width: 100px;
  height: 40px;
}

.SpecialFeaturesBoxWarning {
  padding: 9px 10px;
  border: 1px solid red;
  box-sizing: border-box;
  width: 100px;
  height: 40px;
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  display: block;
  width: 100%;
}

.SendButton {
  padding-top: 20px;
  width: 130px;
  height: 30px;
}

::placeholder {
  color: #e0e0e0;
  color: #c2c2c2;
  opacity: 1;
}

.ButtonGreen {
  height: 30px;
  width: 120px;
  background-color: #00a300;
  color: #fff;
  border: 1px solid black;
  outline: none;
  font-size: 12px;
}
.ButtonGreen:hover {
  background-color: #007a00;
  color: #fff;
  border: 1px solid black;
  outline: none;
}
.ButtonGreen:active {
  background-color: #005200;
  color: #fff;
  border: 1px solid black;
  outline: none;
}

.ButtonRed {
  height: 30px;
  width: 120px;
  background-color: #cc0000;
  color: #fff;
  border: 1px solid black;
  outline: none;
  font-size: 12px;
}
.ButtonRed:hover {
  background-color: #a30000;
  color: #fff;
  border: 1px solid black;
  outline: none;
}
.ButtonRed:active {
  background-color: #7a0000;
  color: #fff;
  border: 1px solid black;
  outline: none;
}

.ButtonGrey {
  height: 30px;
  width: 120px;
  background-color: #999999;
  color: white;
  border: 1px solid black;
  outline: none;
  font-size: 12px;
}
.ButtonGrey:hover {
  background-color: #858585;
  color: white;
  border: 1px solid black;
  outline: none;
}
.ButtonGrey:active {
  background-color: #707070;
  color: white;
  border: 1px solid black;
  outline: none;
}

.ButtonGreenTight {
  height: 30px;
  width: 100px;
  background-color: #00a300;
  color: #fff;
  border: 1px solid black;
  outline: none;
  font-size: 11px;
}
.ButtonGreenTight:hover {
  background-color: #007a00;
  color: #fff;
  border: 1px solid black;
  outline: none;
}
.ButtonGreenTight:active {
  background-color: #005200;
  color: #fff;
  border: 1px solid black;
  outline: none;
}

.ButtonRedTight {
  height: 30px;
  width: 100px;
  background-color: #cc0000;
  color: #fff;
  border: 1px solid black;
  outline: none;
  font-size: 11px;
}
.ButtonRed:hover {
  background-color: #a30000;
  color: #fff;
  border: 1px solid black;
  outline: none;
}
.ButtonRedTight:active {
  background-color: #7a0000;
  color: #fff;
  border: 1px solid black;
  outline: none;
}

.ButtonGreyTight {
  height: 30px;
  width: 100px;
  background-color: #999999;
  color: white;
  border: 1px solid black;
  outline: none;
  font-size: 11px;
}
.ButtonGreyTight:hover {
  background-color: #858585;
  color: white;
  border: 1px solid black;
  outline: none;
}
.ButtonGreyTight:active {
  background-color: #707070;
  color: white;
  border: 1px solid black;
  outline: none;
}
